[2022-01-26 12:47] johnmckerrell commented on #1653
I just ran a speed test on a Pi in the network cabinet, annoyingly the results are a bit too close to call, my 100MBps is better than yours but you would wonder if it's just not using gig-e:

[code]

I'll try to check on another Pi sometime. I looked on the unifi hardware but the "statistics" screen isn't loading properly right now (don't know if that's a sign!) There's updates available for all t

[2022-01-26 14:07] amcewen commented on #1653
I get similar results over WiFi just now:

![image](https://user-images.githubusercontent.com/108468/151176977-0183c1ba-c00e-44d3-8663-234d4944bcc9.png)

I have had slightly flaky Google hangouts over the past week (yesterday and last Wednesday, around 1:30/2pm each time)—I wasn't sure if that was just because I was downstairs but on the DoES WiFi, although I haven't had any problems in the past.

[2022-01-26 14:31] johnmckerrell commented on #1653
I've sent Baltic Broadband an email and I'll report back when they respond.

[2022-01-27 02:53] MatthewCroughan commented on #1653
I've tested again today with the same hardware/network, and these are the results. Good timing!

![image](https://user-images.githubusercontent.com/26458780/151283589-978ff8a9-2877-4a44-9a9a-ecf3fe1fb173.png)

[2022-01-27 11:21] johnmckerrell commented on #1653
Can anyone tell me the earliest date they noticed this? I have a report from Matt on the 21st, anyone want to say earlier?

[2022-01-27 11:52] amcewen commented on #1653
I can't remember if it was the Tuesday or Wednesday call last week, but (at least) one of those was troublesome, so that would be the 19th at the latest

[2022-01-27 13:08] JackiePease commented on #1642
I have ordered the board and stepper cables from Cohesion (warning of potential delivery delays) and the laser tube supports from eBay (should arrive by 21 Feb).
It seems best to leave ordering the tube until we need it.

[2022-01-27 15:10] johnmckerrell commented on #1653
I believe they’ve made an improvement if someone in the space could try it. From the sounds of things we are no longer on a hard fibre but are served by “radio” so that might be part of the reason we’re seeing a change. I’ll ask more about that when I confirm whether we’re seeing an improvement or not.

[2022-01-28 10:14] amcewen commented on #1653
As I arrived this morning two blokes from Baltic Broadband were packing away their ladder and getting into their van.

Running a test now I'm getting better results (this is over WiFi, so that might now be the limiting factor):
![image](https://user-images.githubusercontent.com/108468/151529011-b1b45162-8c3f-47f1-90b6-25245767b17f.png)

[2022-01-28 10:34] amcewen commented on #1653
And from a Pi4 plugged into Ethernet:
[code]

[2022-01-28 10:36] johnmckerrell commented on #1653
Aha, yes I was about to post similar, hopefully mine didn't overlap with yours!

[code]

Definite improvement then.

[2022-01-29 19:28] MatthewCroughan commented on #1653
[code]
Looks like it.

[2022-01-29 20:24] #1653 closed, assigned to nobody

[2022-01-30 15:54] pagochu commented on #1652
Hi Jackie

This is the link for the screen.
https://www.3djake.uk/creality-3d-printers-spare-parts/lcd-screen-2?sai=10550&gclid=Cj0KCQiAi9mPBhCJARIsAHchl1zv9EA0KxuSLXwYikbVFWTiTP43yamEUWVds91h_gBEKmBpXCRI2vMaAr7EEALw_wcB

Any creality ld-002r screen replacement will do, if you can find it cheaper
somewhere else.

Best regards

On Tue, 25 Jan 2022 at 19:16, Jackie Pease ***@***.***> wrote:

--
 Pab

[2022-01-30 15:55] pagochu commented on #1652
This one too.

https://www.3dprintmonkey.co.uk/creality-3d-printer-ld-002h-monochrome-2k-lcd-screen?gclid=Cj0KCQiAi9mPBhCJARIsAHchl1wbpSfvEm7jqbrBTsgl-sAHPLS2jBXjfDqXVAE4mtWvgaJdMzwhhvoaAg2_EALw_wcB

On Sun, 30 Jan 2022 at 15:54, Pablo Gordillo ***@***.***> wrote:

--
 Pablo Gordillo Chueca

[2022-02-01 14:50] amcewen commented on #1653
Had my call today drop out a bit, and @pkharvey and Arkin did too on the downstairs network.

Running a speed test as soon as the call finished I got (over WiFi from downstairs, but on the DoES network):
![image](https://user-images.githubusercontent.com/108468/151990838-c0c230b5-5ee2-410a-b174-a7556ed9dc12.png)

And wired on the downstairs network:
6ms ping; 292.71 down and 266.35 up.

[2022-02-03 12:53] ajlennon opened #1654 "A larger food waste / compost bin"
I have been trying to be a bit greener and separating out the kinds of food waste that are compostable here in my house

I know we have the little metal tin for coffee grounds but that is in my experience more often than not full so the grounds end up in the bin.

I brought in a bag of food waste for @goatchurchprime the other day and it got me to wondering if it's logistically doable to have a bi

[2022-02-03 13:15] johnmckerrell commented on #1058
I think this had been resolved now?

[2022-02-03 13:25] amcewen commented on #1058
We don't have the cable protectors, and the gaffer tape that has been in use instead is getting to a point where it could do with being replaced.

We'll need to lift it to get at the extension lead that runs under it for PAT testing too, so replacing it after the PAT test seems a sensible approach.

I wonder if https://www.screwfix.com/p/extra-wide-carpet-cover-door-strip-aluminium-0-9m-x-61mm/819

[2022-02-03 18:10] JackiePease opened #1655 "Tony's Y axis is reversed"
Yasmin was having issues this afternoon with the Y axis on Tony. It's moving the wrong direction (still useable if you take this into account).

[2022-02-03 19:48] amcewen commented on #1641
That's really helpful @pkharvey, thanks!

In particular, https://www.pat-testing-training.net/articles/iet-code-of-practice-5th-edition.php which goes into the leakage limits in more detail.  From that, even in the 4th edition the 0.75mA limit for leakage current is only for "handheld and portable", whereas there was a 3.5mA limit for "Class I IT, Movable, Stationary & Fixed".  I think the laser-c

[2022-02-03 19:52] RussCoty commented on #1641
It seems reasonable to use the new 5mA limit as of the 5th edition guidelines.

[2022-02-03 23:41] magman2112 commented on #1655
I investigated this issue this evening and Tony was indeed moving in the opposite direction on the Y axis.

On checking the settings in Lightburn, I found one of the settings for Smoothieware clustering was set incorrectly for the firmware currently installed in Tony’s controller, this parameter should be set on.

I have no idea when this parameter has been changed, but on setting this correctly,

[2022-02-03 23:41] #1655 closed, assigned to nobody

[2022-02-04 14:03] johnmckerrell commented on #1569
TIL https://www.amazon.co.uk/s?k=led+garage+light+2+pack+e26+60w+deformable+led+garage+ceiling+lights+6000lm+daylight+lamps+with+4+adjustable+panels+deformable+led+shop+lights+for+garage+warehouse+workshop+basement+barn+lighting&geniuslink=true&tag=boingboing0e-21

Might be a simple option for a replacement to the current bulb.

[2022-02-04 17:55] JackiePease commented on #1642
The Cohesion board and leads have arrived - they're on @DoESsean desk
![IMG_20220204_174934](https://user-images.githubusercontent.com/12802256/152578623-3ba19e48-eb75-482c-b029-b9b1e478d07e.jpg)
![IMG_20220204_174908](https://user-images.githubusercontent.com/12802256/152578646-2c210e61-590e-4788-b27b-7f50f76c47c4.jpg)
![IMG_20220204_174900](https://user-images.githubusercontent.com/12802256/1525

[2022-02-04 22:40] Sean-anotherone commented on #1642
Good stuff !

There are now programmes of electrical, mechanical and optical work to think about.

We can make a start on the electricals right away, I'm gonna suggest just gutting the present harness and doing it all again with new cable, as it's a bit of a birds nest.

[2022-02-07 17:32] amcewen commented on #1529
There's been additional notes about our leakage current testing worked through as part of #1641.  From [this summary](https://github.com/DoESLiverpool/somebody-should/issues/1641#issuecomment-1029341808):

[2022-02-07 17:43] amcewen opened #1656 "Sheila doesn't power up"
Although she now [passes her PAT test](https://github.com/DoESLiverpool/somebody-should/issues/1641), Sheila doesn't power up.

A *very* quick bit of debugging shows that there's mains getting to the low-voltage power supply, but there seems to be nothing coming out on the 24V or the 5V sides.  So maybe the work for the PAT test has killed that power supply?  Needs more investigation.

[2022-02-07 17:43] amcewen commented on #1641
So, I was PAT testing a power supply so figured I'd re-test Sheila.  The leakage current is 1.23mA, so easily passes the (newly understood) limits.

So I'm going to close this.  However, Sheila isn't powering up at present, so is still inoperable.  I've spun that out as #1656

[2022-02-07 17:43] #1641 closed, assigned to nobody

[2022-02-07 18:41] JackiePease opened #1657 "We need more sublimation ink"
I've ordered some from MDP - should arrive in the next couple of days

[2022-02-08 19:26] JackiePease commented on #1642
The laser tube supports have also arrived - also on @DoESsean desk

[2022-02-10 12:12] DoESsean commented on #1545
PART 1 - GENERAL DESCRIPTION OF THE COMPANY’S ACTIVITIES AND IMPACT
In the space provided below, please insert a general account of the company’s activities in the financial year to which the report relates, including a description of how they have benefited the community.

In general terms, we offer desk space for homeworkers, and workshop space and access to niche industrial equipment to anyone

[2022-02-10 18:18] JackiePease commented on #1657
These have arrived - in the usual place

[2022-02-10 18:18] #1657 closed, assigned to nobody

[2022-02-10 23:15] Sean-anotherone commented on #1656
Update from today - Adrian's quick debug confirmed, so removed the low voltage supply and replaced it with separate 5v and 24v supplies (these are not securely fitted atm)  Machine still does not power up, however, the 24v supply shows a fault LED.

Next steps :

1. Bench test the original supply ( I did not do this, but given the above it might have simply shut down because of a downstream fault)

[2022-02-11 10:19] johnmckerrell commented on #1632
Just a note that Alex has taken his PoE injector back. He plugged the phone back in and confirmed that it lit up but there's a decent chance it's not working and I forgot to check on Tuesday.

[2022-02-11 10:47] ajlennon commented on #1632
I am pretty certain there are more PoE injectors in the "box full of power stuff" ?

[2022-02-11 10:47] ajlennon commented on #1632
Oh I've said that  ! :laughing:

[2022-02-12 10:17] amcewen commented on #1632
You have :grin: but that hasn't magicked any PoE injectors into the boxes, at least not that I can find... :grinning:

[2022-02-12 10:33] amcewen commented on #1545
"Over 25,000 face shields"

When in 2020 does it start?  Is it the company year end—so end of June early July(?)  That would have pushed the visor project into the 2019-2020 submission...

[2022-02-12 11:03] ajlennon commented on #1632
Humm. Right then I shall have a hunt around here !

[2022-02-12 11:10] amcewen commented on #855
The sturdier bucket was better, but the gaffer tape seal between the bucket and the lid is hard to keep sealed, particularly whenever the bucket gets emptied.

It feels like we should get something like [this metal bucket](https://www.ebay.co.uk/itm/401777622655?hash=item5d8bcffe7f:g:MY0AAOSwQTdc8UsQ) and transfer the cyclone to the lid of that.

There is a shoe to fit to the spindle to collect th

[2022-02-12 11:17] johnmckerrell commented on #1545
Yeah, think Sean needs to have another go on Tuesday and look at the previous one.

--
Sent from my mobile phone hence brevity and errors

[2022-02-12 11:48] amcewen opened #1658 "Set up dust extraction for the belt sander"
The belt sander seems to be the best tool for covering everything in the CNC room with a fine layer of dust.  It'd be nice to make it less successful at that. :grinning:

It's got a dust extraction fitment, so maybe we can set it up so that the CNC mill cyclone (see #855) can be easily connected to it?  They tend not to be used at the same time, so just switching the hose over is probably good eno

[2022-02-12 13:14] amcewen commented on #1656
Sheila was working before the PAT testing, so that or the filter replacement could be what's killed the power supply :disappointed:

Gerald hasn't been PAT tested yet, so his failure isn't related to PAT testing.

[2022-02-12 15:56] JackiePease opened #1659 "Plans for Textiles Room"
Uma has come up with some plans to help organise the textiles room. I have a copy of these - I'll ask Uma if she can provide an electronic copy and if not I'll scan them. In the meantime I'll keep them by my desk in case anyone wants to take a look.
One suggestion in the plans was to buy baize and tablecloth clips to protect the table and provide a good surface for cutting. We've ordered these and

[2022-02-12 17:39] arthurrowland commented on #1322
I don't know how it came about, but can confirm this cable does now have a clip.

[2022-02-12 17:39] #1322 closed

[2022-02-12 17:51] magman2112 commented on #1656
With some further testing, I found that the DC connections were actually reversed (checked the connections on the controller and the Stepper drivers). On connecting them the right way, the laser powered up with the replacement PSU's that @Sean-anotherone installed on Thursday.

Further testing found that the original PSU worked when connected in the right way, so I re-installed this and tested and

[2022-02-12 17:51] #1656 closed, assigned to nobody

[2022-02-12 17:51] amcewen commented on #1644
They have arrived.  I've reprinted the posters to use the full size of the A1 paper (with @Robotorium's help), and there are now two copies in their respective clip-frames.  Need to screw them to the walls, for now they're resting against the walls near to where we'd want to hang them.

![image](https://user-images.githubusercontent.com/108468/153722315-d7a4a815-5087-4cb8-a27d-f7a71f6bf326.png)

(

[2022-02-12 17:53] magman2112 commented on #1642
All of the laser parts are now stored in the controller bay of Gerald, in case anyone goes looking for them.

We plan to start re-cabling Gerald next, including re-running the cable for the safety switch through the cable channel at the back of the machine.

[2022-02-12 18:04] JackiePease commented on #1622
I have ordered this

[2022-02-12 18:07] arthurrowland commented on #1610
We could not connect the CNC PC to the internet today. And Fusion 360 will not let you use the software until the computer has an internet connection so the user can log in.

The existing WiFi dongle, and another raspberry pi branded dongle loaned from Adrian showed up in the device manager but didn't enable any wifi networking.

We replaced then tested the ethernet cable on another PC and had tha

[2022-02-12 18:15] JackiePease commented on #1558
I have ordered these

[2022-02-12 18:16] magman2112 commented on #1582
I am going to close this issue for a number of reasons.

1st, the old laser software was re-installed and was working, cancelling the original reason for this issue.

2nd, The controller on Gerald has died and we currently have an issue, #1642, that has been opened to track this issue. The plan is to replace the controller with the same one as on Tony, so the related software will be changing to L

[2022-02-12 18:16] #1582 closed, assigned to nobody

[2022-02-12 18:16] arthurrowland commented on #1610
On further investigation many of the network services are stopped in the task manager, and either can't be started or stop after a second or two of being started. Looks like deep windows rot of some kind.

[2022-02-12 18:27] MatthewCroughan commented on #1610
@arthurrowland I'd expect the hard drive(s) to have died by now. If you want success, you will have to reinstall the OS and Fusion 360, and also replace the drives in the machine. This maintenance will have to happen again at a later date, because of the software model we're using.

If we can get away from Fusion 360 and Windows, we won't have to maintain this as much, if at all, but that would ha

[2022-02-13 09:24] ajlennon commented on #1632
Had a try of the PoE injector I remembered being in the network stuff box but it doesn't work :(

[2022-02-13 12:39] pagochu commented on #1652
Hi Jackie.

Did you manage to order this? If so, where is the screen? I'm at the Tapestry today and could fit it.

Best regards.

[2022-02-13 18:56] Sean-anotherone commented on #1656
I am so glad I took a photo of the way I found it when I took a look at the machine last Thursday !!!
Power supply connected the wrong way round is right up there with the on-off switch being set to the wrong position...
I'm not going to suggest that I've never ever done this myself, but not me on this occasion.
Sean

    On Saturday, 12 February 2022, 17:51:21 GMT, Mike Gorman ***@***.***> wrote:

[2022-02-13 19:23] Sean-anotherone commented on #1642
Here's a first stab at the "coarse" level of jobs-to-do list.
Controller:
Remove the fibreglass carrier board from the electronics bay.Remove controller board Install Cohesion board on some standoffsRecable the stepper drives and all the suppliesRecable the stepper motors for all 3 axes (some decent flexible cable might be needed for this)Reinstall the carrier board and connect to the HV side
Remo

[2022-02-14 13:15] amcewen commented on #1656
It was probably me, although (obviously :grinning:) I don't remember doing so.

Well done tracking it down @magman2112, and good to hear that Sheila is back up and running!

[2022-02-14 13:16] johnmckerrell opened #1660 "Business Rates: Request that soundproof room is merged back into main space"
Since we are no longer subletting the soundproof room we are requesting to have it merged back into the main unit. It didn't actually reduce our business rates liability in the first place so there's not much point. Also if we want to challenge the valuation we have to post a CHECK first, which this will be.

I had to "claim" Unit 4a, which I have now managed, I then submitted the CHECK requesting

[2022-02-15 10:44] DoESsean commented on #1545
_PART 1 - GENERAL DESCRIPTION OF THE COMPANY’S ACTIVITIES AND IMPACT
In the space provided below, please insert a general account of the company’s activities in the financial year to which the report relates, including a description of how they have benefited the community._

From June 2020 until the end of the calendar year, we continued with our PPE provision project, although this naturally wou

[2022-02-16 11:51] amcewen commented on #855
I've ordered one of the metal buckets.  Should be here at the end of the week.

[2022-02-16 17:29] Sean-anotherone commented on #855
A length of pipe lagging would make a good gasket.

    On Wednesday, 16 February 2022, 11:51:47 GMT, Adrian McEwen ***@***.***> wrote:

I've ordered one of the metal buckets. Should be here at the end of the week.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
You are receiving this because you were mention

[2022-02-16 19:16] JackiePease commented on #1622
Now fitted and problem fixed. Well diagnosed @Robotorium !
I've put the old bobbin case in the threads box in case it's useful as a slightly inferior spare

[2022-02-16 19:16] #1622 closed, assigned to nobody

[2022-02-16 19:20] JackiePease commented on #1558
Struts have arrived - they're on Sean's desk

[2022-02-17 11:11] amcewen commented on #855
The bucket has arrived.  I've left it in the CNC room next to the cyclone; we need to transfer that across to the lid.

There is a gasket on the lid already—not sure how good a seal it'll make, but lid itself clamps on pretty tight so it might be good enough.

[2022-02-17 17:27] Evans-Luke commented on #1610
I'm happy to do a re-install tonight if nobody objects?

[2022-02-17 17:35] amcewen opened #1661 "Membership discounts aren't listed on the website"
At least, I can't find where they are.

https://doesliverpool.com/services/ says:

And the membership page says:

But apart from on the posters up in the space, I don't know where you'd find out what the discounts are...

I don't *think* we should be hiding them...? :grin:

[2022-02-17 19:22] amcewen commented on #1642
Thanks for the write-up @Sean-anotherone.  Presumably an extra body or two to volunteer to help out with the jobs wouldn't go amiss?  If anyone fancies learning more about looking after the laser-cutters...

[2022-02-17 20:14] amcewen commented on #1479
We still need to get the guard fitted for this — it's the square mesh for it.  It  doesn't quite fit in the original location as the new heating elements are a bit deeper, but there's a length of aluminium U-channel which should be able to be fitted along the sides to provide a slightly lower channel for the mesh to fit into (if anyone wants to give a hand...).

[2022-02-17 22:24] Evans-Luke commented on #1610
Windows has been re-installed. Fusion 360, Kinetic-NC, inkscape, GIMP and vilvaldi are installed.  Need to go through the configuration steps in the CNC-STEP folder before the router can be used.

[2022-02-18 01:37] MatthewCroughan commented on #1610
@Evans-Luke Thanks for doing this.

I initially added Vivaldi when I installed the machine, because I was into it. But I'd recommend getting rid of Vivaldi in preference of Firefox/Chrome, since it's closed source and many people are not familiar with it and get confused by it, unless you installed it because you like it of course!

[2022-02-18 15:35] Sean-anotherone commented on #1642
On 17 Feb I started the rework of the instrument bay, cohesion board is mounted and first tranche of cabling for that end of the machine is done.

Still needs the appropriate connections being made from cohesion board into the stepper drives, then the support board can be reinstalled.

[2022-02-18 15:37] Sean-anotherone opened #1662 "Set up and commission the DUET lathe/milling machine"
This needs a windows PC of the right era with a serial port, the software can then be installed and the whole setup tested.

I have a suitable old PC that I'll donate, I think it has XPSP3 on it right now, which should be about right.  It does not have any accessories though (keyboard/mouse/monitor)

[2022-02-19 11:17] JackiePease opened #1663 "Tony apparently not cutting square"
Brian has left a message attached to Tony's lid saying that he isn't cutting square
![16452692944145456752618553468689](https://user-images.githubusercontent.com/12802256/154798580-3b25caee-d1cc-4a88-a787-799f6df8622b.jpg)

[2022-02-19 14:20] JackiePease commented on #1662
Julian's found this link for USB to parallel converter, which might be useful for this:
https://www.amazon.co.uk/Parallel-Converter-Notebooks-Desktops-Computers-default/dp/B08CC8PDSY/ref=mp_s_a_1_3?adgrpid=119032058338&gclid=CjwKCAiAx8KQBhAGEiwAD3EiP23GXBcnB9LYKephWV1vgJMtaPHzXKZpveev08j1uXQxCsoiRiZJmRoCTkkQAvD_BwE&hvadid=498463645085&hvdev=m&hvlocphy=9046552&hvnetw=g&hvqmt=e&hvrand=72300227466378

[2022-02-19 14:26] JackiePease commented on #1663
Attention @DoESLiverpool/laser-maintenance

[2022-02-19 15:16] amcewen commented on #24
Now that we've got clip frames to hold these (see #1644), @Robotorium and I picking away at this again.  It'll be printed at A1 size, and need to be portrait orientation.

This is the [terrible first draft SVG - CostOfBeingEpic.svg](https://user-images.githubusercontent.com/108468/154806162-9d470834-396f-42d7-8655-92746b415d65.svg) that I've got some code to auto-generate.  The graph itself maybe

[2022-02-19 19:02] magman2112 commented on #1558
@Sean-anotherone fitted the new struts on Maker Night, so this issue can now be closed.

[2022-02-19 19:02] #1558 closed, assigned to nobody

[2022-02-19 22:06] Evans-Luke commented on #1610
Ive installed firefox onto the machine now.

Had a few issues with setting up the probe on the cnc as the machine settings imported by the ini file seemed to be reveresed (z was 110min to 0 instead of min 0 to minus 110).  This video helped  more than the manual https://www.youtube.com/watch?v=qr__04fxlWc ).

I think the router is now setup but Its probably a good idea for somebody with more exper

[2022-02-21 21:11] Sean-anotherone commented on #1663
This happened once before, one of the belts had jumped a tooth.

[2022-02-21 21:14] Sean-anotherone commented on #1662
Further investigation revealed that it's a 25 pin serial port!  (an even older standard!).

There is a USB to serial widget plugged into the machine, not sure if it is a PL2303 or a COM3xx one, but that might be enough to get it talking.  Need a windows laptop or PC though, probably ME or XP era?

[2022-02-21 22:19] Sean-anotherone commented on #1662
Boxford do a lot of free upgrades to their software - I have no idea what version the machine came with but the list of what's available is here : https://www.boxford.co.uk/software-updates

There's also the current listing - the machine hardware looks almost identical, I bet the electronics are different though!
https://www.techsoft.co.uk/products/milling-routing/boxford-dueti-lathe-and-miller

[2022-02-22 01:18] magman2112 commented on #1663
Sorry Sean, I meant to update this to say that I managed to resolve this issue on Saturday afternoon.

Jackie had asked me to document how I fixed this, which I ran out of time to do, hence I hadn't updated the issue.

I found a relatively quick way to resolve this, by removing the front panel display, I was able to access the drive shaft coupling and used this to adjust the misalignment. I will d

[2022-02-22 10:03] DoESsean commented on #1661
Done.

[2022-02-22 10:03] #1661 closed, assigned to DoESsean

[2022-02-22 15:36] ajlennon opened #1664 "Broadband doesn't seem to be working as well as it was"
I've had on and off problems with the broadband for the past few weeks and the BeeCam project is no longer working very well as the A/V keeps buffering. I replaced the live feeds with a test stream to YouTube and I still see the problem.

I am trying to dig out some packet loss, latency and jitter measurement tools and my initial non-scientific results are that we seem to be getting a fair bit of

[2022-02-22 15:49] ajlennon commented on #1664
OK I have cut the Bee stuff completely out of the loop and am running this `FFMPEG` test to YouTube on my laptop. This works for a bit then data is no longer received at the YouTube end although it's still sending from my laptop. Pretty sure this all used to work fine

[code]

[2022-02-22 18:27] MatthewCroughan commented on #1664
It is my understanding that Baltic Broadband have switched over to radio/wireless infrastructure fully. I think that we are no longer receiving a gigabit fiber link to the point of presence downstairs and should expect a higher contention ratio with other customers, as well as more packet loss when their radio equipment gets jostled in storms.

Is it true that everything is radio based now? @johnm

[2022-02-22 18:30] MatthewCroughan commented on #1664
From https://github.com/DoESLiverpool/somebody-should/issues/1653:

[2022-02-22 19:24] ajlennon commented on #1664
Yes that's my understanding too. That doesn't help me address the issues I am seeing though.

[2022-02-22 19:46] MatthewCroughan commented on #1664
@ajlennon You and I could both foot the bill to get gigabit fiber back in, I'm willing to go half on that. The price of adding gigabit would be £100/month extra on top of what we have, so both of us could pay £50/month towards it.

DoES currently pays £150/month for the current plan, so in total the contract would be £250/month from DoES' perspective.

[2022-02-22 20:08] ajlennon commented on #1664
What is DoES paying for?

[2022-02-22 21:33] johnmckerrell commented on #1660
This has now completed.

[2022-02-22 21:33] #1660 closed, assigned to johnmckerrell

[2022-02-22 21:35] johnmckerrell commented on #1664
We have the £150 Aurora package on this page: https://www.balticbroadband.com/broadband-wireless/

[2022-02-22 21:39] johnmckerrell commented on #1664
I can get in touch with them again to report continuing problems but having as much information as possible would be useful. What timespan is covered by the first image on this issue?

[2022-02-22 21:41] ajlennon commented on #1664
Thanks John - I'll try to do some more testing tomorrow and be a bit more specific?

[2022-02-23 10:56] amcewen commented on #1664
We've had no Internet since 9:46 this morning.  It seems to just be us (Aeternum are fine, and also on Baltic).

Baltic noticed before we told them, and phoned up to check.  They didn't seem to be able to see their router, but I've confirmed with them that it's on and has some flashing lights, so seems like it's up at this end.  They're looking into it further and going to give us a call back when

[2022-02-23 13:03] MatthewCroughan commented on #1664
I noticed @amcewen's response 10 minutes ago, and have been periodically pinging my box. As of just now, the network is accessible, then went offline again. So it seems as if the network connectivity is intermittent, rather than completely offline.

[2022-02-23 14:40] amcewen commented on #1664
Baltic have been out and replaced their router, and once we'd restarted the Ethernet switch at the edge of our network things seem back up and running okay.

Not quite sure why a dumb Ethernet switch should need a reboot to fix things, but that's what did the trick.

[2022-02-23 14:41] ajlennon commented on #1664
How strange !

[2022-02-23 15:00] MatthewCroughan commented on #1664
@amcewen Dumb ethernet switches still store state like the ARP cache, who knows whether the switch disabled some ports due to spanning tree? Or learned the wrong info when MAC learning during the switchover. State causes all sorts of problems. My PFSense router also required a reboot in the last downtime when Baltic had a routing error, for who knows what reason.

For reasons like this, I'm going

[2022-02-23 15:58] ajlennon commented on #1664
These are the latest (building and tested) dunfell builds

https://github.com/DynamicDevices/meta-mono/actions/runs/1794025332

[2022-02-23 17:46] AndyH0 commented on #1649
Tried to use Felicity again today. I had similar problems to last time with filament not sticking to bed and then on next attempt no flow from nozzle at all. Rather than try to feed material to the nozzle, I retracted the material, trimmed, and tried again. Retracting the material straight away I think avoided bigger problems of the material swelling up above the nozzle. It seemed to repeat this c

[2022-02-23 21:24] amcewen commented on #1662
I wonder if Gerald's PC would be worth trying?  It's on Windows 7 (IIRC) but the 32-bit version, which might make enough difference?

[2022-02-24 22:03] RussCoty opened #1665 "Get Roland EGX-300 mill up and running"
I have a couple of CNC machines on my desk.

Where do people think they should live longterm?

Answers on a postcard to Pebble Mill. PO Box 55

[2022-02-25 14:48] ajlennon commented on #1664
Haven't had a chance to do more testing at DoES I'm afraid @johnmckerrell  but I will when I'm in next.

For a comparison I ran the same thing here (home, Virgin Media via WiFI) and nothing seems to get dropped

@see https://packetlosstest.com/

![image](https://user-images.githubusercontent.com/1537834/155735392-37d1afc6-a942-4760-be9f-ea1608940ddf.png)

[2022-02-26 14:48] ajlennon commented on #1664
I've been footling around. I found this thing Prometheus that monitors all sorts of things, and there's a node_exporter application that generates a load of metrics. So I have that running on my Pi in the BeeHive now and I am graphing up the metrics with Grafana. It's all quite nice actually.

So will leave this running and see if anything leaps out

![image](https://user-images.githubusercontent.

[2022-02-26 22:40] johnmckerrell commented on #1251
I've submitted a challenge. I calculated the valuation as £7,080 but I doubt they'll accept that! I included the following statement which should provide most of the information:

We believe that the valuation for our unit is too high for multiple reasons. Primarily this is because it has been rated at something like “Grade-A office space” when the unit is nothing of the sort. In addition the dime

[2022-02-27 19:26] RussCoty opened #1666 "Idea for a Jam Night"
After some scheming with AJ Morrison, she has suggested that she would like to start a little jam night.

We are thinking acoustic instruments, more of a music circle than a performance in front of an audience thing.

Any thoughts, ideas, interest let me or AJ know. I think she is currently signing up for GitHub so will be on here soon.

[2022-02-28 13:38] ajlennon commented on #1664
So I just did a test now 28/02/22 13:38 and it is looking good... Need to work out how it changes over time

![image](https://user-images.githubusercontent.com/1537834/155992635-7257cbff-4ba8-4e2c-8829-473d6f00453f.png)

[2022-02-28 16:17] Evans-Luke commented on #1610
Ive been using the CNC and its working well so this can now be marked as closed

[2022-02-28 16:28] amcewen commented on #1610
Thanks for getting this sorted @Evans-Luke!  I've just sent you an invite to the DoES Liverpool organisation, which will let you close issues yourself in future (and get the acclaim in the #weeknotes posts :grinning:)

[2022-02-28 16:28] #1610 closed, assigned to nobody

[2022-03-01 22:00] johnmckerrell commented on #1251
They've already been in touch basically to tell me I challenged on the wrong thing and need to re-apply. Good that they're on the ball though, the instructions given in the message told me to download a T012 (or TO12) form, when I finally found a link to it I got a 404 so I've gone through the challenge process (which I think is what they told us to do on the phone) and this time chosen a differen

[2022-03-03 12:00] johnmckerrell commented on #1545
Handed to the accountants now so hopefully will get submitted imminently.

[2022-03-03 19:49] amcewen commented on #1665
The small, "open air" one, I'm not sure what we should do with, particularly given that we've now got the bigger (but still quite small) enclosed Roland EGX-300 one.

Could the Roland one go next to the CNC lathe over in the corner by the laser-room?  We need to work out how to talk to it, and the rest of the commissioning process, but it seems a decent little machine.

[2022-03-06 18:37] JackiePease opened #1667 "Pen plotter McGraw plotting wobbly lines when they should be smooth"
Lines drawn by the pen plotter have wobbles in them. These appear in the same position on each row, so it looks to be an issue with the setup, either dirt on the wheels, damage to the belts, problem with one of the stepper motors etc.

[2022-03-06 19:02] JackiePease commented on #1667
I cleaned all the bearings and tracks with IPA and replaced the 3 toothed belts on the top side (there are 2 underneath as well). I got 3 6.35mm x 1001.8mm MXL pitched belts from Beltingonline (Kesteron Ltd).
The lines produced by the plotter now do seem to be smoother.
However, there is some resistance to moving along the longer axis that wasn't there before. I am going to watch the Youtube video

[2022-03-06 19:07] JackiePease opened #1668 "Cutlery drawer trim has come off"
The trim on the top front of the cutlery drawer had come off. I've stuck it back down with high tack tape.

[2022-03-06 19:07] #1668 closed, assigned to nobody

[2022-03-07 10:20] amcewen commented on #1665
http://archive.fabacademy.org/2017/fablabkamplintfort/students/390/week13.html has some details on the CAM steps in Fusion360 for a Roland MDX40, which isn't the same, but might have some pointers for generating toolpaths for the EGX-300.

[2022-03-07 12:44] cameronswift commented on #1664
![graph](https://user-images.githubusercontent.com/94469375/157033815-8d55949a-9cf1-414f-9a5e-c9afe02df4fd.jpg)

After being left for a few days to run, we can now see this graph showing a problem with the connection.

[2022-03-07 13:43] MatthewCroughan commented on #1664
I've just set up Smokeping monitoring Cloudflare and Google, there's already some evidence of packet loss. So we'll see how it goes.

![image](https://user-images.githubusercontent.com/26458780/157045450-f33e614b-200c-4917-a448-a1774a9fdfad.png)

[2022-03-08 09:53] DoESsean opened #1669 "Extraction Problem"
Jade has been in the laser room today, and has reported an issue with the extraction - she said it was getting smoky in there and, though she tried to give the extraction system a hoover to clear anything out, nothing helped.

She said there's normally a filter in there which there doesn't seem to be at the moment. I assume the laser is still usable? Or should it be shut until this issue is sorted

[2022-03-08 11:27] RussCoty commented on #1669
This sounds, if my instinct serves. Like it might be that the actual grill needs knocking clear on the fan housing. It has an array of little square holes that tends to get clogged every so often.

The solution that I have found was to remove the hose form the fan input side and then push the buildup out with a brush. Vacuuming might work well too.

I may be about today to have a bash at that.

[2022-03-08 12:24] amcewen commented on #1669
Indeed, it was the mesh inside the extractor fan.

For future reference, it's the bit you can see here:

![DSC_0708](https://user-images.githubusercontent.com/108468/157237465-e1e7dfa4-ed56-4153-9748-ff9cea6e05cf.JPG)

You need to loosen the jubilee clip with a screwdriver, remove the hose, vacuum (or brush) out the buildup, then replace the hose and tighten up the jubilee clip again.

[2022-03-08 12:24] #1669 closed, assigned to nobody

[2022-03-09 16:33] amcewen opened #1670 "Get more coffee filters"
We're getting low on coffee filters.  I've ordered some more of [these ones from ebay](https://www.ebay.co.uk/itm/132531041327) that we got last time (#1018)

[2022-03-10 18:04] epsaul commented on #1666
Tonight?

[2022-03-10 21:23] amcewen opened #1671 "LED monitor has failed its PAT test"
The LED (or maybe LEO, it's the brand written in the top-left corner) monitor on the desk in the far corner of Room29 has failed its visual inspection of its PAT test because it hasn't got a UK plug on it.

(See #1529 for more details of the PAT testing, and who can re-test it once it has been fixed, it's item 220 on the spreadsheet).

[2022-03-10 22:04] amcewen commented on #1529
Moved on to Room29 this evening.

Haven't done the following desks.  Wasn't sure what was on or off, so have left everything there to do sometime when each person is around.
* [ ] ~~@johnmckerrell's desk~~ (moved to main issue text)
* [ ] ~~@ajlennon's desk (and the items under the one next to it too, as I wasn't sure if that was also your stuff Alex)~~ (moved to main issue text)
* [ ] ~~@JackiePe

[2022-03-11 12:24] johnmckerrell commented on #1545
Looks like this is showing as submitted on Companies House now so closing this ticket.

[2022-03-11 12:24] #1545 closed, assigned to nobody

[2022-03-12 17:39] epsaul commented on #1662
Boxford software now loaded on the Dell Studio computer with Windows XP installed. Drivers loaded by @magman2112 for Ethernet so machine now has internet access however still not able to access drivers for USB/Serial converter.
Considering finding an old serial card or an old PC with XP.

[2022-03-12 18:12] epsaul commented on #1662
Device may need a new emergency stop switch.

[2022-03-12 18:15] epsaul opened #1672 "Kath knitting machine has bent needle holder."
Please make your issue:

* Short (Unless required to be long)
* Specific
* Measurable
* Achievable
* Responsible
* Time-constrained

You can delete this template text.

[2022-03-12 18:18] epsaul commented on #1672
Straightened by pulling through vice in workshop. Consider moving Kath to avoid being caught again.

[2022-03-12 18:18] #1672 closed, assigned to nobody

[2022-03-12 18:27] epsaul commented on #1667
Worked on today fixed a few niggles. Watch out for arduino working loose. Dirt on the rollers produces regular "wobbles" at pitch of roller circumference.

[2022-03-12 18:27] #1667 closed, assigned to nobody

[2022-03-13 13:07] JackiePease commented on #1667
![IMG_20220313_130252](https://user-images.githubusercontent.com/12802256/158060713-4149f082-718c-49d7-9e6d-4dcb18284875.jpg)
Here is an example of the original issue, for future diagnoses.
Note: I didn't end up replacing the limit switch, as it worked well enough when reassembled

[2022-03-14 16:27] amcewen commented on #1670
These arrived this afternoon.

[2022-03-18 13:55] amcewen opened #1673 "Zettle charging cradle is faulty"
The charging cradle for the Zettle card unit seems to be faulty.  When it's plugged into the USB charger on the plug sockets it seems to short it out (the green LED goes out, and neither port charges).

For now I've plugged the card unit in with a different USB cable, so it'll still charge.

[2022-03-18 20:20] MatthewCroughan commented on #1664
The following is some data from Smokeping over a 10 day period. The anomaly on the 13th March is because I have a WWAN/4G connection on the machine which was preferred due to a routing error with Baltic, I believe. Shortly after their routing error was sorted out, my machine resumed using Baltic.

# Pinging Google
![image](https://user-images.githubusercontent.com/26458780/159077637-2b04a8e5-b695-

[2022-03-19 18:22] johnmckerrell commented on #1632
I've re-patched the leftmost socket on that bank so that it's connected to the PoE switch and the phone is now working.

[2022-03-19 18:22] #1632 closed, assigned to johnmckerrell

[2022-03-21 13:32] huffeec opened #1674 "Jog keys not working since reinstall"
The number pad jog keys don't work, which mean we also can't do 'some modifiers' and 5

[2022-03-21 23:55] huffeec commented on #855
I made a start on transferring the cyclone to the metal bin today. There's now a suitable sized hole in the lid of the new bin.

The next step is to cut down the wooden lid to fit the new bin and glue/seal it in place

I think this is preferable to unpicking the glue between the lid and cyclone and re gluing to the metal lid. Either could give a good seal.

The other job that needs doing for this

[2022-03-23 13:39] JackiePease opened #1675 "Remove COVID banner from website"
I asked @willcrobinson how to do this.

For future reference, it was displayed using a plugin called WPFront Notification Bar which he's disabled for now.

[2022-03-23 13:40] #1675 closed, assigned to nobody

[2022-03-24 21:58] amcewen commented on #1529
Have done all of the (newest) Dinky meeting room, apart from:
* [ ] ~~Ronan's servers~~ (moved to main issue text)

Did all the things on my desk, but not the extension leads that things are plugged into, as it'll make more sense to do all of the ones under the desks at once.

[2022-03-31 22:21] amcewen commented on #1529
Got the printers in the main room tested today.

[2022-04-06 13:08] JackiePease opened #1676 "Liverpool Makefest - 2 July 2022 - DoES Liverpool stand"
This is to list exhibits and things we need to get ready for Liverpool Makefest, which is on 2 July (please add your name to assignees if you want to help with organising).

@ka81 and Dan have been in touch to confirm we're included (!) and "will be in touch again with more information, risk assessments and probably a few questions as we go along"

[2022-04-06 13:08] JackiePease commented on #1676
List of display-related stuff to take with us:

    black tablecloths
    display triangles (need cable ties), or alternative
    printed descriptions for exhibits -- Snoof
    stands for descriptions -- Snoof
    vertical display unit (may need some new connecting pieces)
    business cards and flyers
    television to show promotional videos

[2022-04-06 13:09] JackiePease commented on #1676
List of exhibits (please add details of anything you want to display here):

- MCQN stuff (from Nikki) - My Baby's Got LED; My Bike's Got LED,Museum in a Box; Ackers Bell (Nikki has
- Snoof - Wormbert
- Aeternum - Air quality sensor
- Sasha - TBA
- Jackie - Flowers, McGraw, Peloton lights?
- Terry - Penguin
- Brian - Subbuteo box
- Mike - Book Scanner, a couple of small synths, small keyboard and

[2022-04-06 13:09] JackiePease commented on #1676
List of people who are able to help move stuff and set up our stand on Friday evening (please add your name and whether you can provide transport

Snoof (can't provide transport or carry stuff but can help with setting up)

Mike - I will be volunteering at MakeFest, helping set up on Friday, but I should be able to help after this. I should also be able to provide transport as well.

[2022-04-06 13:10] JackiePease commented on #1676
List of people who are able to help take down our stand and move everything back to DoES immediately after Makefest ends on Saturday (please add your name and whether you can provide transport)

[2022-04-07 20:07] huffeec opened #1677 "Should we switch KineticNC post postprocessor for FreeCAD?"
I'm working on documenting a workflow here to show how to use FreeCAD to generate toolpaths for our [KineticNC](https://github.com/DoESLiverpool/somebody-should/wiki/CNC-Router)

Currently I'm using the FreeCAD post processor created by @goatchurchprime, stored in [somewhere safe](https://github.com/DoESLiverpool/somewhere-safe/blob/master/Workshop/CNCMill/kineticnc_post.py)  I'm having some issue

[2022-04-09 16:45] huffeec opened #1678 "Print nozzle for CNC dust extraction"
Generated from #855

The dust extractor is set up but still needs a crevice tool.

[This thingiverse file](https://www.thingiverse.com/thing:1571860/files) looks like it should generate something suitable.

[2022-04-09 16:46] huffeec commented on #855
The extraction is complete. I've opened a new issues for the nozzle. (#1678)

[2022-04-09 16:46] #855 closed

[2022-04-11 14:43] amcewen commented on #598
Adding a note here for next time I'm looking for it — @magman2112 has documented which network points go where in the wiring closet at https://github.com/DoESLiverpool/somewhere-safe/blob/master/Network/LAN%20Wiring%2016MAY2018.xlsx

[2022-04-13 10:21] #1678 closed, assigned to nobody

[2022-04-14 11:01] Knottyashcreative opened #1679 "Lightburn failing to communicate with Tony, open files and lagging."
A user came to me as they had several issues related to Tony and the use of Lightburn.  The only issue remaining is the laggy Windows and failure of Lightburn to recognise several files.  The system was restarted and this resolved most of these issues but lagging still remains.

I feel the background apps are causing lagging either viruses or excessive software running in the background.  I was wo

[2022-04-14 11:53] amcewen commented on #1674
If you log into the Kinetic-NC software as the `Client-Admin` (password is written on the monitor) then you can access the `Hotkeys...`option in the `Configuration` menu.

Then you can choose various operations and teach it which keys to use.

I've set the numpad arrow keys to do the jog movements (and the diagonals also make it move in X and Y appropriately — I can't remember if it did that befor

[2022-04-14 11:53] #1674 closed, assigned to nobody

[2022-04-14 11:54] amcewen commented on #1610
I've configured the hotkeys for jog and zeroing Z, documented in #1674 but noting here for next time someone is setting things up and following just this issue :grin:

[2022-04-14 21:03] johnmckerrell commented on #1251
Apparently they're coming for a look around on 29th April.

[2022-04-15 11:48] JackiePease commented on #1679
@Knottyashcreative - the admin password is accessible to organisers. You can ask one of the organisers next time you're in.

[2022-04-15 12:51] JackiePease commented on #1679
It looks like someone tried to run the update to version 1.1.03 on 11 April and wasn't able to (possibly because they didn't have the admin password).
I've installed the update and it seems to be working now.
I did have to skip one file: c;\ProgramFiles\Lightburn\LBShellExtThumbnailHandler.dll as the system kept saying it was in use, but that doesn't seem to be causing any issues.

[2022-04-15 12:51] #1679 closed, assigned to nobody

[2022-04-15 12:53] MatthewCroughan commented on #1679
If these machines had been provisioned with Linux and built with reproducibility in mind, they would:

1. Not behave differently tomorrow
2. Not allow users to change the behavior of the system for other users
3. Not require as much maintenance

I don't have the time to do this anymore, but whenever I suggested it in the past year or two, I was shot down on many occasions. Maybe it's time to look

[2022-04-15 14:27] JackiePease opened #1680 "Clarify the pricing structure on the home page and services pages on our website"
We've had some useful feedback that the pricing structure shown on our website can be confusing and might put people off from finding out more about DoES Liverpool.
For makers, what would be most useful to see first would be the free things (Maker Day, Maker Night, first day with cake...) and the rate per day for non-members. The options for people who then want to join could be further down the p

[2022-04-18 16:17] Sean-anotherone commented on #387
Interesting to see this on the bring-up.  Optics will be just about the last part of the rebuild that's under way on Gerald, hopefully the mirrors on all axes will be solid (like Tony) and non-adjustable (achieved by VERY carefully dialling in the adjustment on the tube mounts, which was not possible on the old mounts)

Suggest this is closed as it's completely overtaken by events.

[2022-04-18 17:04] JackiePease opened #1681 "Buy new tips for the soldering iron"
Buy new tips for the soldering iron

[2022-04-18 17:05] JackiePease commented on #1681
Like #1483

[2022-04-19 11:48] DoESsean commented on #1681
I've bought exactly the same as last time, right down to doubling up to avoid having to pay postage.

[2022-04-20 09:15] amcewen commented on #387
Seems a good plan @Sean-anotherone.

[2022-04-21 18:39] amcewen opened #1682 "Bandsaw has thrown its blade"
The blade on the large bandsaw has come off the drums so the saw doesn't work.

I'm not sure where the keys are to open it up to get into fixing it, but at the moment it's not working.

[2022-04-21 18:49] amcewen commented on #1609
Given the major upgrade happening inn #1642, I think we can close this.

[2022-04-21 18:49] #1609 closed, assigned to magman2112

[2022-04-21 18:51] amcewen commented on #1543
This is going to either get fixed (I hope) or any information in it will be out-of-date, once #1642 is finished.

[2022-04-21 18:51] #1543 closed, assigned to nobody

[2022-04-21 18:56] amcewen commented on #1306
There won't be a screen after the upgrade in https://github.com/DoESLiverpool/somebody-should/issues/1642 is finished.

[2022-04-21 18:56] #1306 closed

[2022-04-21 19:22] amcewen commented on #1642
I've updated the title so it's a bit clearer that this is the ongoing Gerald upgrade issue

[2022-04-21 22:47] Sean-anotherone commented on #1642
Progress on the electronics today, with the main instrumentation panel being reinstalled. and the wiring for the magnetic lid interlock being worked out and readied for the main hookup session.

The next job is to remove the pulleys for the Y axis (front to back) and order new bearings for all of them.  They are held in with crosshead screws backed by nuts that are accessible from the side-bays of

[2022-04-21 22:51] Sean-anotherone commented on #1662
Ed has made huge progress with this and successfully made a couple of "experimental chess pieces" today.  Some instructions for basic use and a wiki page to follow.  The software and basics or operation are now worked out though, so if anyone wants to build on that to develop a proper guide that would be welcomed.

If you're wondering why the chess pieces are experimental, well, lets say that one

[2022-04-25 16:56] JackiePease opened #1683 "Update WLED version on Geometric Lights in the Event Space"
The version on the lights is quite old and the interface has evolved quite a bit

[2022-04-25 17:16] JackiePease commented on #1683
Updated for boxes A, B and C on Saturday.
There seems to be an issue with adding strips on different pins on the boards using a phone. The ESP32 seems to crash when saving and then goes back to only displaying 30 orange lights - I configured the extra pins using the web installer at https://install.wled.me/ and it seems ok, although it might be best not to change the current effects for the moment

[2022-04-25 17:19] JackiePease commented on #1683
Current LED strip lengths:
Box A: Pin 2 308, Pin 12 153, Pin 13 145, Pin 14 125
Box B: Pin 2 303, Pin 12 311, Pin 13 62, Pin 14 62
Box C: Pin 2 None, Pin 12 293, Pin 13 2, Pin 14 153

[2022-04-26 21:07] johnmckerrell commented on #1548
Sorry @Tactile-electronics but I'm going to re-open this as the money hasn't gone out yet :-)

@doessean can you make payments of £1,123.52 to the Royal, The Walton Centre and Liverpool Heart and Chest (whichever their "main" charities are, but feel free to ask if you're not sure).

[2022-04-27 16:05] ajlennon commented on #1664
Quick update on this. I've been chatting to Matt Wilson @ Baltic Broadband who has been really helpful and put me onto Syd to talk about the issues we've been seeing.

Syd has explained to me the thinking is this is due to the way the bracket is constructed that holds the radio antenna which provides connectivity for DoES. In particular we've had all these bad storms which have affected the positi

[2022-04-28 15:30] DoESsean commented on #1548
I've done the Royal, and Walton Centre, but have apparently hit my sending limit when trying to do the third donation. Unless someone gets to it in the meantime, I'll do it next week.

[2022-04-28 21:02] magman2112 commented on #1642
Bearings required for refurbishment of y axis are…

4 off 8/16. X 4 mm

4 off 21/12. X 5 mm

Suggest using 2ss bearings for resistance to smoke

[2022-04-29 09:06] magman2112 commented on #1642
The bearings have been ordered from Simply Bearings. They should hopefully be with me by Tuesday. Total cost was £12.02, including postage, for name branded bearings, these were only about 10% dearer than no-name bearings so was an easy choice.

[2022-04-30 13:29] JackiePease commented on #1683
The new ESP32 arrived so I've installed it:
Box D: Pin 2 None, Pin 12 None, Pin 13 284, Pine 14 None

I've raised an issue for the [WLED bug](https://github.com/Aircoookie/WLED/issues/2649) when using the Android app, but it doesn't seem to cause problems when choosing colours and effects, so I'm closing this issue.
If you need to change the number of outputs or lights you can do that via [https:/

[2022-04-30 13:29] #1683 closed, assigned to nobody

[2022-04-30 14:19] NaliniMack opened #1684 "Please add me to the github organisation"

[2022-04-30 14:26] NaliniMack opened #1685 "Instagram Icon not working on front page of doesliverpool website"
When clicking on the insta icon on the front page of the doe liverpool website a new web page pops up with the message stating - sorry thsi page isn't available.

Be good to add all liks to social media in thsi spot such as - twitter and facebook.

[2022-04-30 14:28] JackiePease commented on #1684
Done

[2022-04-30 14:28] #1684 closed, assigned to nobody

[2022-04-30 15:30] JackiePease commented on #1685
Looks like this had stopped working because the password had been changed.
Added new credentials and updated the Instagram Feed

[2022-04-30 15:30] #1685 closed, assigned to nobody

[2022-05-03 08:59] DoESsean commented on #1548
Liverpool Heart and Chest done too now. So I think I can close this issue :)

[2022-05-03 08:59] #1548 closed, assigned to DoESsean

[2022-05-03 09:00] ajlennon commented on #1548
Great work sir!

[2022-05-04 06:57] JackiePease opened #1686 "Investigate better ways to create/send GCode to McGraw"
I've updated the wiki entry for [McGraw](https://github.com/DoESLiverpool/somebody-should/wiki/Pen-Plotter-McGraw)  (still a draft), but the methods I've been using to create Gcode and send it to the printer are a bit unfriendly.
It would be good to improve (and possibly combine) them, perhaps by updating the Inkscape extension,  or using Inkcut or [VPype](https://github.com/abey79/vpype)

[2022-05-04 13:11] NikkiHiggins commented on #1676
MCQN stuff: My Baby's Got LED; My Bike's Got LED; Museum in a Box; Ackers Bell.

I might also be able to bring my shield project if it's finished, hopefully

[2022-05-06 09:54] amcewen commented on #1556
We had an actual party!  Go us!  And we managed it just before it was our 11th birthday...

[2022-05-06 09:54] #1556 closed, assigned to nobody

[2022-05-06 10:19] amcewen opened #1687 "Popup banner has broken"
I'm pretty sure (the events room is in use at the moment so I can't double-check) that the pop-up banner that's usually up in there explaining what DoES is has broken.

IIRC it's the clip that holds the banner onto the top of the pole that's broken, so we should be able to make a replacement so we can get it back into use.

[2022-05-06 20:01] JessCollinge opened #1688 "Sublimation printer (Bella) printing with lines through image"
Bella is having a bit of trouble printing clean, crisp images. It was working perfectly for the first two prints and then started prining with lines running through the whole of the print sheet (see attached image). I tried a nozzle check, head clean and head flush – none of these worked. I tool the back off the printer, gave it a areally good clean, but still no luck.

Any advice or if someone ca

[2022-05-07 17:14] Gdempsey95 opened #1689 "Help with engraving."
Hi I went in today for laser induction as I had hoped I could use them for a product I am working on.

To date I have been using a diode laser at home which has produced quality results albeit a bit slow.

Upon testing out some files today I encountered two issues:

1. Laser power under 10% appeared not to fire at all.

2. When selecting faster speeds (40-70 mm/sec) to compensate for problem 1 I w

[2022-05-07 18:44] amcewen commented on #1689
Hello! :wave: Thanks for reporting the issue.

I don't have any great wisdom to import, I'm afraid, but as a minor note I happened to be doing a fill engrave (on MDF) this afternoon at 8% and it was working.

Having spotted this issue I did a couple of quick tests afterwards at 6% and 7%.  Neither made any noticeable marks on the MDF, but the 7% one did seem to be generating the tiniest bit of smo

[2022-05-07 18:59] Gdempsey95 commented on #1689
Thanks for your reply. I'll hopefully get to grips with it on Thursday and let you know of any progress!

[2022-05-07 20:03] magman2112 commented on #1689
It’s also worth commenting that there is a known issue with Tony when engraving (fill in Lightburn). The x-axis has some mechanical creep currently, hence the recommendation to rotate the engraving 90 degrees. This is planned to be fixed when Gerald is back online (to limit the risk of taking another laser out of action).

I suspect though that you were actually doing vector line art rather than e

[2022-05-07 20:14] Gdempsey95 commented on #1689
Brilliant see you there!

[2022-05-07 21:57] Gdempsey95 commented on #1689
How would I go about changing the acceleration? Is this fairly straightforward? I have changed $$values (grbl settings in lightburn and laser grbl) so have a little experience with it.

[2022-05-08 09:01] ajlennon opened #1690 "Put a large format poster on the wall beside the outside front door"
It occurred to me yesterday that there are lots of students and others wandering outside along Kempston Street.

Given that DoES wishes to increase diversity, partly through inviting younger people into the space would it not make some sense to let passers by know the space is here?

I was thinking maybe an A0 waterproof/vinyl printed poster based on the DoES mission statement collateral inviting

[2022-05-08 09:46] magman2112 commented on #1689
We use smoothieware on the controller, so I’m not aware of any commands at present that let you change the acceleration from the console. We currently change settings by removing the SD card from the controller and update the config file in a text editor.

We also have to be aware that any changes we make have to be suitable for all users, so we don’t currently have a process for making configurat

[2022-05-08 10:06] arthurrowland commented on #1689
Just for reference of a real life result, here are the settings for cut and line etch on 3mm plywood from two weeks ago. I also found under 10 power to not be of any use.

![IMG_20220424_171714678_HDR.jpg](https://user-images.githubusercontent.com/78351702/167291369-03ebe2db-6445-4d20-9657-f58bca80b2e6.jpg)

![FRVG8yuWQAYVG0W.jpeg](https://user-images.githubusercontent.com/78351702/167291373-57ebe

[2022-05-08 20:42] JackiePease opened #1691 "Make labels for the replacement Free Stuff boxes"
The SVG file @amcewen used previously is here:
https://github.com/DoESLiverpool/somewhere-safe/blob/master/Workshop/FreeStuff-FreshStaleLastChance.svg

[2022-05-08 20:48] JackiePease commented on #1691
@Robotorium and I cut the labels out from reflective sign vinyl and stuck them onto the crates.

[2022-05-08 20:56] JackiePease opened #1692 "Make some new boxes for business cards"
We have boxes of DoES Liverpool cards as well as for some members of the community. There aren't enough boxes at the moment, meaning that you can't see all the cards.

@Robotorium has some ideas for new designs

[2022-05-08 21:01] Robotorium commented on #1692
Thanks Jackie!

Op zo 8 mei 2022 21:59 schreef Jackie Pease ***@***.***>:

[2022-05-10 14:53] amcewen commented on #1676
Aeternum would like to show off one (or two?) of their air quality sensors.

[I also edited the description to fix the date it's happening :-D]

[2022-05-12 18:30] amcewen commented on #1654
I think it'd be tricky to have something "out the back", now that Melodic are in the yard as there isn't really much of an "out the back" any more and they're (understandably) super vigilant to any food waste as it might attract rats.

Feels like the main barrier to composting more is working out how it'd get taken away regularly.  The current level is dependent on @goatchurchprime (as seen whenev

[2022-05-12 18:33] amcewen commented on #1604
I've printed larger things since then without any trouble, and it was used for a load of patterns recently too.  Going to close this until anyone spots it happening again.

[2022-05-12 18:33] #1604 closed, assigned to nobody

[2022-05-12 18:34] amcewen commented on #1600
Mail for people who no longer pay for mailboxes is now returned marked "no longer at this address".

[2022-05-12 18:34] #1600 closed, assigned to nobody

[2022-05-12 18:34] amcewen commented on #1584
Is this all sorted now?

[2022-05-12 18:40] amcewen commented on #1525
Agreed, it seems to b a duplicate of #1303.

[2022-05-12 18:40] #1525 closed, assigned to nobody

[2022-05-12 18:48] amcewen commented on #1494
We've got a new pump now!

[2022-05-12 18:48] #1494 closed, assigned to nobody

[2022-05-12 18:50] amcewen commented on #1479
The guard has now been fitted (not sure by whom), so this is done!

[2022-05-12 18:50] #1479 closed, assigned to nobody

[2022-05-12 18:52] #1477 closed, assigned to MatthewCroughan

[2022-05-12 18:57] amcewen commented on #1469
This is being covered by [optimism](https://github.com/DoESLiverpool/optimism/) at the hack-the-space evenings, and the plan is to soft-launch that to do bookings for the CNC and embroidery machine (and once we're happy with it we can extend it to the lasers and desks...)

[2022-05-14 10:48] mickrick1 commented on #1687
Spare pole from Jackie's brother used to repair banner.
Place top of pole into horizontal groove on top aluminium strip before extending fabric to full height then place bottom of pole through hole on base to secure.

[2022-05-14 11:01] mickrick1 commented on #1687
Spare pole from Jackie's brother used to repair banner.
Place plastic top of pole into horizontal groove on top aluminium strip before extending fabric to full height then place bottom of pole through hole on base to secure.

[2022-05-14 11:01] #1687 closed, assigned to nobody

[2022-05-17 12:53] JackiePease opened #1693 "Investigate the letterpress parts that we have in the space."
We have quite a lot of letterpress-related stuff scattered around the space. It would be good to investigate whether it is something we could use.

[2022-05-17 13:14] JackiePease commented on #1693
Karen Edwards kindly came down and took a look at the letterpress kit that we have.  There are 2 letterpress machines, both Adana. She loaded some type in the smaller one, a 6x4, and was able to print successfully. The larger one, an 8x5, is missing some parts (arms, disks, rollers) - it would cost approx. £200 to buy these from eBay, and the machine would then be worth around £400. A company is s

[2022-05-17 17:16] JackiePease commented on #1693
Nalini and I put all the parts we could find in the ex-toy cupboard in Room 29, awaiting further decisions (the toys are now in crates).

[2022-05-17 17:20] JackiePease opened #1694 "Make some shelving for letter press type"
Most of the letter press type is in small trays. Karen Edwards said that these shouldn't be stacked on top of each other as the type could get damaged. @amcewen has some scrap 4mm MDF that should be suitable for making shelves for the type.

There might be something suitable on [https://www.festi.info/boxes.py/](https://www.festi.info/boxes.py/)

[2022-05-17 17:20] JackiePease opened #1695 "Make some shelving for letter press type"
Most of the letter press type is in small trays. Karen Edwards said that these shouldn't be stacked on top of each other as the type could get damaged. @amcewen has some scrap 4mm MDF that should be suitable for making shelves for the type.

There might be something suitable on [https://www.festi.info/boxes.py/](https://www.festi.info/boxes.py/)

Related to #1693

[2022-05-17 19:16] amcewen commented on #1529
We need to write up the assorted notes for the process and turn it into a Wiki page, which also lists who you can ask to PAT test your stuff.

[2022-05-17 21:39] johnmckerrell opened #1696 "Move Sheila into the laser room for the time being"
We've had some complaints about the fumes coming from Sheila as it just vents out of the window in the events room. Now that there are no longer any pandemic restrictions we can move it into the laser room. This will likely be temporary as we're looking at getting a filtration system so that we can move it back into the events room.

It should be possible to reunite the plan drawers by the alcove,

[2022-05-17 21:44] johnmckerrell opened #1697 "Get a laser fume filtration system"
As mentioned in #1696 we've had complaints about the fumes from Sheila. We're thinking of getting a laser fume filter that would alleviate these problems. It's worth considering that it might be useful at some point to run multiple lasers into it so should consider this when picking our option. HPC have some, including https://hpclaser.co.uk/p/bofa-ad-access-laser-fume-filter/ although we still ne

[2022-05-17 21:45] johnmckerrell opened #1698 "Organise an 11th birthday party"
It's been absolutely ages since we had a party and it's coming up on our 11th birthday so we should really do something about that 🤔

[2022-05-17 21:45] johnmckerrell commented on #1695
Duplicate of #1694

[2022-05-17 21:45] #1695 closed, assigned to nobody

[2022-05-17 22:36] amcewen commented on #1697
Cambridge Makespace have one — I think it's [this one](https://hpclaser.co.uk/p/bofa-ad-oracle-laser-fume-filter/) which is £1500+vat, to go with a laser a bit smaller than Gerald.

[2022-05-18 14:13] Sean-anotherone commented on #1697
Not to poo poo the idea, which is clearly a sensible one, but do check the consumables prices and lifetime before committing to any particular filter.  Moving the machine to the laser room might be a better idea, as no-one seems to complain about that one since the duct went in.

[2022-05-18 14:15] Robotorium commented on #1697
True, but the laser room isn't super accessible due to room size and how
full it already is. Plus having a lasercutter in the (rentable) events room
is a bonus.

Op wo 18 mei 2022 15:13 schreef Sean Jarman ***@***.***>:

[2022-05-18 14:57] amcewen commented on #1697
We might want to add some restrictions on what can be cut on machines with a filter — Cambridge Makespace don't allow MDF, for example, because it clogs the filter too easily, but folk who need to cut that can use the other lasers...

[2022-05-20 16:13] amcewen commented on #1642
Request from @Sean-anotherone (who hasn't got his password-manager to hand to be able to log into his account :grin:):

I've ordered two of [these fans](https://www.ebay.co.uk/itm/254202846287?hash=item3b2fab9c4f:g:h6AAAOSwdx1aEU~R).

[2022-05-21 03:46] JackiePease opened #1699 "Investigate firmware versions for the Ultimakers"
The last record I can find of the Ultimaker firmware being updated is from 2017 #635

Maybe newer firmware (if there is any) would work better with the more recent versions of Cura that we're using.

[2022-05-21 03:58] JackiePease opened #1700 "Check Queen Victoria is working ok"
Melodic were trying to print coloured coffee cards yesterday and these were coming out with a slightly stripey effect, as if one of the print heads was doing something slightly different in one direction than the other, there were also some excess black dots.

This was the first time anyone had tried using it with a Mac, so it might be worth testing with a Linux or Windows machine first  (I have t

[2022-05-21 10:19] johnmckerrell commented on #1700
Fwiw I used it with a mac in December and had no issues with colour.

--
Sent from my mobile phone hence brevity and errors

[2022-05-21 13:16] Robotorium opened #1701 "PixMax heatpress attachments need investigation"
The PixMax heatpress has failed PAT testing again. It's also now in a state of advanced dismantlement. However, it has a bunch of attachments for hats/plates etc that could potentially be helpful for other heatpresses.

We need to investigate whether or not they are useable with other heatpresses, and dispose of them if not.

[2022-05-21 16:18] helicalbytes commented on #1303
Had a look at the sander today. The toothed belt that drives the sanding belt is totally stripped and needs replacing.

There is an operating manual available for the machine here:
https://www.clarkeservice.co.uk/manuals/woodworker/CS4-6C_Belt_Disc_Sander.pdf

I spoke to Machinemart who sell this machine.

They have a parts division who supply spare parts such as this. Details at https://www.machi

[2022-05-21 17:08] magman2112 commented on #1631
A whiteboard has now been installed in the small meeting room. I have also removed/tidied up the video cables to make things a little neater in this room.

I would suggest a wait and see attitude for the TV, as this may still be of use in its current location and @JackiePease agreed with this.

I will close this issue for now, as we can always re-open the issue if needed.

[2022-05-21 17:08] #1631 closed, assigned to nobody

[2022-05-21 17:12] magman2112 commented on #1626
On investigation, the back plate of this socket was broken. As it is hard plastic I tried glueing this at first, but this didn’t provide a strong enough joint.

At the last Repair Cafe, I made an aluminium plate the same size as the back plate and used slightly longer self tapping screws to fix it in place. This is now much more rigid.

@amcewen re-tested the unit on the hack the space day and thi

[2022-05-21 17:12] #1626 closed, assigned to nobody

[2022-05-21 17:25] Robotorium opened #1702 "Look into Fred firmware"
We're not sure if Fred's firmware can be upgraded, but we would like to see if we can do so and perhaps make him trim jump stitches.

Jackie and I will look into this and see what can be seen.

[2022-05-21 18:30] ajlennon commented on #1631
Brilliant thanks Mike !!!

[2022-05-21 18:47] amcewen commented on #1529
At the Hack the Space afternoon, with some sterling help from Andy who dug out all the extension leads from under the Eastern bank of desks in the main room, we got a bunch more testing done.

The Eastern bank of desks in the main room is all done; the 3D printers in the server rack are all done; and the 3D printers by the CNC room are also all done.

[2022-05-21 19:34] Robotorium opened #1703 "Toilet seat broken in more accessible loo."
The toilet seat in the more accessible loo is broken again. I'm struggling to stand long enough to investigate if it's a matter of relocating it somehow along the little axle, but it's currently loose on the wall side.

[2022-05-21 21:13] amcewen commented on #1638
Retested today and passed because [0.90mA current is well within the new 5th edition limits](https://github.com/DoESLiverpool/somebody-should/issues/1529#issuecomment-1031731124)

[2022-05-21 21:13] #1638 closed, assigned to nobody

[2022-05-22 12:46] LizTaylor404 commented on #1694
A few observations on sorting the letter press type on Hack the Space Day

- It would be useful to have a couple of extra trays made up to sort the remaining letters out.
- One of the boxes I sorted today had what I guess was is a ‘standard’ layout for the letters. This layout could be used to have a consistent system.
- A slightly taller box would enable the largest fonts (already sorted) to rema

[2022-05-22 21:47] JackiePease commented on #1648
This must have arrived, as the printer is still working

[2022-05-22 21:47] #1648 closed, assigned to nobody

[2022-05-22 21:59] JackiePease commented on #1700
There was an issue with the driver on my laptop, but I tried this with a different file on one of the Lenovo laptops and the output looks fine. There are a lot of options under the advanced tab in printer properties to do with dithering, print quality etc. I suggested to Danny that he experimented with those. He's going to try again on Tuesday evening.

[2022-05-22 22:02] JackiePease commented on #1389
This printer has been disposed of.

[2022-05-22 22:02] #1389 closed

[2022-05-24 18:55] JackiePease commented on #1193
Was going to close this, but maybe it would be nice if people wanted to post photos of what they can get the Liver Bird to do using WLED:

Download WLED app and connect to DoES Liverpool wifi. The Liverbird is 10.0.33.231. Post you pictures here...

[2022-05-26 11:46] johnmckerrell commented on #1703
I fixed this yesterday. It's broken before but it's relatively easy to fix, just pushing the parts back together. I'll close this for now but if it seems like it's happening more often we can re-open and consider replacing.

[2022-05-26 11:46] #1703 closed, assigned to nobody

[2022-05-26 11:47] johnmckerrell commented on #1697
I have now applied to the fund requesting £1000 so will report back how that goes.

[2022-05-26 11:49] johnmckerrell commented on #1696
After some sterling effort by various people called Chris and also some people not called Chris (@chris-does @huffeec @zarino and @goatchurchprime ) Sophia and the plan drawers have now been moved out and into the alcove. We didn't move Sheila yet as we wouldn't have been able to hook it up to the ventilation system yet.

[2022-05-26 11:57] huffeec commented on #1696
I think confusingly one of the Chrises isn't called Chris on Github. He's @helicalbytes

[2022-05-26 12:03] amcewen commented on #1642
Fans have arrived and I've left them on Gerald.

[2022-05-26 12:57] DoESsean commented on #1026
Is anyone up for this at all? Or should we accept that, while it would be nice, it's unlikely to happen?

[2022-05-26 12:57] #959 closed

[2022-05-26 13:03] DoESsean commented on #1222
Although we don't have a list downstairs, we do at least have one in the space now, and that seems to have made everything easier.

Unless anyone thinks otherwise, I'm going to close this issue as we seem to have managed pretty well without this list for about two and a half years.

[2022-05-26 13:03] #1222 closed

[2022-05-26 13:09] DoESsean commented on #171
Seems like this problem has solved itself to me. So I'll close this issue unless anyone has any objections.

[2022-05-26 13:09] #171 closed

[2022-05-26 13:25] DoESsean commented on #930
All of this. All of it.

Is it still going on? I know I occasionally see @ajlennon doing videos around the place, but I'm not sure.

We seem to be doing something right of late, but more right things would be good.

[2022-05-26 13:29] DoESsean commented on #1618
Did this ever get sorted? Because it would be out of warranty now.

[2022-05-26 13:30] ajlennon commented on #930
Couple of things

I had this thought about a large poster out the front where all the students pass by

https://github.com/DoESLiverpool/somebody-should/issues/1690

Then Danny and co. at the Melodic Bar downstairs are attracting lots of students so we could talk to him about directing them up the back staircase to come visit with us?

And after attending #PintOfScience I was thinking of how we co

[2022-05-26 15:20] #1618 closed, assigned to DoESsean

[2022-05-26 21:35] amcewen commented on #1665
@helicalbytes and @huffeec got it moving today!  We found that [the user manual](https://rolanddga.sharepoint.com/sites/dealers/SupportDocumentation/Forms/AllItems.aspx?id=%2Fsites%2Fdealers%2FSupportDocumentation%2FEGX300EN%5FUM%2Epdf&parent=%2Fsites%2Fdealers%2FSupportDocumentation&p=true&ga=1) includes the list of commands to talk to it

[2022-05-26 22:09] amcewen commented on #1665
I've not looked into it in detail, but [this software to convert GCode to HPGL](https://github.com/ozzyrob/cnc2hpgl/tree/master/C_Source) might be a useful starting point if nothing else for our CAM steps for this machine.

[2022-05-26 23:55] magman2112 commented on #1696
@Sean-anotherone and I managed to fit an extra piece to the adaptor @johnmckerrell brought in so that Sheila’s extractor hose would fit. This allowed us to relocate Sheila into the laser room.

Everything initially appeared to be OK until we tried powering up the chiller for Sheila. This now alarms all the time, but I can’t see what is causing the alarm. The fluid level is OK and the chiller was n

[2022-05-28 11:25] huffeec commented on #1677
Consensus seems to be to keep using our own.

[2022-05-28 11:25] #1677 closed, assigned to nobody

[2022-05-28 15:21] magman2112 commented on #1696
I was able to look at this on Saturday and found that the pipes from the chiller to to laser along with the flow switch in the laser were blocked with some organic growth. This was stopping the flow of coolant and causing the flow switch in the chiller to alarm.

All of the affected items were cleaned and re-assembled and the flow was back to normal. I also added algicide to the coolant water when

[2022-05-28 15:21] #1696 closed, assigned to nobody

[2022-05-28 18:36] huffeec commented on #1665
With @helicalbytes we made some progress and managed to etch a 50mm square sending the following over serial
(Set serial port to 4800, 1 stop bit and Xon/Xoff parity.)

IN;SP1;PA30,47; VS40; PU0,0;PD0,0,5000,0,5000,5000,0,5000,0,0;

With Z0 set (cautiously) to -2300 and Z1 -100 Z2 200

[2022-05-28 19:19] helicalbytes commented on #1665
For the depth there are 3 values: Z0, Z1 and Z2.

Assuming you are working on a flat workpiece:

- Z0 is set so that the cutter is just touching the surface of the workpiece;

- Z1 is the cutting depth. It is set relative to Z0. So if Z1 = -100, this means 1mm below the surface.

- Z2 is the pen up height. It is relative to Z0. So if Z2 = 200, this means the cutter will be raised 2mm above the sur

[2022-05-28 19:21] helicalbytes commented on #1665
In general be very careful setting the machine's Z-height, especially when there is a cutter installed. The current bed has 4 posts for alignment which can get in the way of the cutter when it is for example, going to its x,y home position when the machine starts etc.

[2022-05-28 19:31] JackiePease commented on #1303
Ordered new belt from DriveBeltSolutions - should take 1 - 3 days

[2022-05-28 22:10] magman2112 commented on #1303
I had a more detailed look at this machine last week and found that at least one of the bearings on the drive pulley has collapsed. This may explain why the drive belt has stripped again (it was replaced last year if I recall correctly) and also explains why the sanding belt didn’t move very freely.

With the help of the service manual that @helicalbytes linked to, I would recommend that we replac

[2022-05-29 18:33] JackiePease commented on #1666
Anne-Marie has been running this regularly and successfully on the last Friday of each month  https://www.instagram.com/p/CeI-5K0o01L/?igshid=YmMyMTA2M2Y=
Next one on 24 June

[2022-05-29 18:33] #1666 closed, assigned to nobody

[2022-05-30 09:21] Robotorium commented on #1665
Had trouble downloading from the most recent link, so here is [another](https://www.rolanddga.com/support/products/engraving/egx-300-desktop-rotary-engraver)

[2022-05-30 18:34] JackiePease commented on #1665
Took another look at this today.
picocom -b 4800 /dev/ttyUSB0 useful to send from Linux
I'm trying to find out if anyone's converted one to run with GRBL

[2022-05-31 08:24] NikkiHiggins commented on #1676
I  might also be bringing a shield and a wall hanging of my own projects if they are finished in time

[2022-05-31 10:30] DoESsean commented on #1303
New belt has arrived, Jackie has put it with the sander.

[2022-05-31 10:46] magman2112 commented on #1303
Have the bearings been ordered for the sander? If not, this issue needs to stay open till they have arrived.

[2022-05-31 12:41] JackiePease commented on #1690
@ajlennon and I spoke to Jason - he's not against the idea, but would like to see what the poster looks like before we go ahead. @ajlennon is going to get something mocked up, perhaps will ask @zarino for input

[2022-05-31 12:52] ajlennon commented on #1690
Yes would definitely appreciate @zarino 's thoughts as I have no idea about creative stuff :-D

[2022-06-02 13:16] JackiePease commented on #1303
It might be worth going with your suggestion of stripping down the machine, as we'd have to do that to replace the bearings anyway. The parts department is a premium rate line and only available during office hours.

[2022-06-02 21:15] JackiePease opened #1704 "Buy some new bike levers"

[2022-06-02 21:21] JackiePease opened #1705 "Check that Ariadne is working properly"
Ariadne seems to be sticking as if the top bed has been bent (sorry for lack of technical detail - I was hoping that Rose would be in and would be able to explain this better).
We need to check what is wrong before we're able to use it again.

[2022-06-06 12:45] huffeec opened #1706 "Buy new milling bits for the Roland EGX-300"
The Roland engraving CNC came with some collets which gave the impression we could use bits from the other CNC.
Looking at this with @helicalbytes we've come to the conclusion that these collets are not the correct size, and wouldn't work even if they were.

Currently we only have an engraving bit for this machine. If we want to be able to mill/drill with it we will need additional bits and range

[2022-06-07 11:14] DoESsean commented on #741
Reckon this will ever happen? Or are we committed to shabby chic, meaning we can close it?

[2022-06-07 11:16] DoESsean commented on #795
Where's this up to now? Still ongoing?

[2022-06-07 11:18] DoESsean commented on #928
Talk to me about injection moulding and, more to the point, whether there has been any progress made on this.

[2022-06-07 11:31] DoESsean commented on #805
As this hasn't been updated in three years, during which time all kinds of stuff has been done to Gerald, can I assume that it's been supplanted by other issues and is closable?

[2022-06-07 11:32] #325 closed

[2022-06-07 11:34] #603 closed

[2022-06-07 11:34] amcewen commented on #1704
I've bought some new (yellow!) ones from Decathlon.  Have put them in the bike repair drawer.

[2022-06-07 11:34] #1704 closed, assigned to nobody

[2022-06-07 11:34] #771 closed

[2022-06-07 11:38] #807 closed

[2022-06-07 11:40] DoESsean commented on #507
Did this happen in the end?

[2022-06-07 11:40] DoESsean commented on #998
In the last three years, has this solved itself?

[2022-06-07 11:41] #750 closed

[2022-06-07 11:46] #943 closed

[2022-06-07 11:48] DoESsean commented on #1130
I don't _think_ this ever happened. Should we close it?

[2022-06-07 11:48] DoESsean commented on #1119
Should this be closed now then?

[2022-06-07 11:50] DoESsean commented on #1184
Still doing this?

[2022-06-07 11:52] DoESsean commented on #1213
There was an awful lot of high level chat on here, and it was mentioned in a couple of other issues. Does that mean it was ever actually done, or is this still causing us problems?

[2022-06-07 11:52] amcewen commented on #804
I think it would still be good to fix this, as the toilets haven't gotten any more obvious :grin:

Thinking about it now, maybe we could add a sign above the door to *newest* Dinky?  Just something saying "Toilets" in the New Transport font, and a right-angle arrow or an up-and-to-the-right arrow cut out of black vinyl...

[2022-06-07 11:53] ajlennon commented on #1130
yeah I guess so

[2022-06-07 11:57] #1130 closed

[2022-06-07 12:23] JackiePease commented on #1119
This has been disassembled

[2022-06-07 12:23] #1119 closed

[2022-06-07 12:27] JackiePease commented on #998
It would still be useful, but there are higher priorities for amendments to the Weeknote Generator

[2022-06-07 12:27] #998 closed

[2022-06-07 12:39] JackiePease commented on #1701
Someone (Brian?) was asking about this today. The attachments are really useful (we used them to do caps for Peloton for example).

[2022-06-07 12:41] JackiePease commented on #805
Seems to be being dealt with under #1642

[2022-06-07 12:41] #805 closed

[2022-06-07 15:31] MatthewCroughan commented on #1213
@DoESsean I'm not aware of any issues, nobody has notified me of it lately.

MQTT is ran locally on the network via the machine `doesnix.local` which is documented here https://github.com/DoESLiverpool/nixcfgs/tree/master/hosts/doesnix

Our usage of MQTT is stateless which means that it doesn't have a database, and there is nothing to back up. I think the issue might be talking about backing up No

[2022-06-07 15:32] magman2112 commented on #1409
We found 2 mains powered 8 way USB chargers. One of these proved to be sufficient to the LED strips and the current Arduino controller, so the wings are back working again.

There are actually 4 strings of LED’s, 2 of 200 LED’s - split as 4 lengths of 50 LED’s per side, then 2 of 60 LED’s each, which are the spirals in each wingtip. From the Arduino, these are split into 2 channels. As the power f

[2022-06-07 15:41] MatthewCroughan commented on #1213
I think this can be closed since we no longer run InfluxDB on site.

[2022-06-07 15:41] #1213 closed

[2022-06-07 15:44] MatthewCroughan commented on #1529
I'm coming back to Liverpool this week so if you find any time, I'm happy to test everything on my desk. I'll come and find you @amcewen

[2022-06-07 15:44] MatthewCroughan commented on #1477
Never got around to this. Thanks for closing.

[2022-06-07 15:48] MatthewCroughan commented on #1119
I was the one who disassembled and repurposed the hardware. I got permission from @goatchurchprime at the time who had bought the [wheeliepad](https://twitter.com/wheeliepad) and given up on this. I turned it into [this computer](https://github.com/DoESLiverpool/nixcfgs/tree/master/hosts/doesnix)

[2022-06-07 15:53] zarino commented on #1119
Oh cool! So _that’s_ what that computer’s for! I like the case!

[2022-06-07 16:01] MatthewCroughan commented on #1119
@zarino Thanks! I made it in Inkscape, and with Gerald!

[2022-06-07 20:09] Sean-anotherone commented on #928
I fixed the hopper ages ago, but it needs much more work.  I recall that there aren't any tools with it either (moulds) so was not much of a priority to get it up & running.
Sean

    On Tuesday, 7 June 2022, 12:17:47 BST, Seán Gleeson ***@***.***> wrote:

Talk to me about injection moulding and, more to the point, whether there has been any progress made on this.

—
Reply to this email directly,

[2022-06-09 13:58] DoESsean commented on #1676
I've ordered new business cards today, and also asked for a quote for more flyers, using the design from #1289  - I've used the hello@ email address so it can be picked up while I'm away.

[2022-06-09 14:04] Robotorium commented on #1676
I've sorted the description placards and stands but need the descriptions.
So if anyone wants to display something, drop me a note and I'll sort it
out. May need to cadge some wood though.

Op do 9 jun. 2022 14:59 schreef Seán Gleeson ***@***.***>:

[2022-06-09 19:51] helicalbytes commented on #1706
After more reading about the machine we (@helicalbytes and @huffeec) think that it is unsuited to 3d milling.

It does though look potentially excellent for pcb milling.

We think a good milling bit to get to test this out is available from techsoft (link in previous comment):

Part number: **TA-SD4-0.8**
Price: £27.
This is a 0.8 mm slot drill.

[2022-06-09 20:22] amcewen commented on #1642
@Sean-anotherone would like ~1m of drag track (or crocodile track) sized 15mm x 30mm, so we've ordered [this one](https://www.ebay.co.uk/itm/295026071626?hash=item44b0ec984a:g:lx4AAOSwK-ZimNF4)

[2022-06-11 13:27] amcewen opened #1707 "Get more blank sublimation mugs"
We're down to our last blank sublimation mug so we should order some more.

[2022-06-11 13:48] amcewen commented on #1304
I assume these came and have been used up, see #1707 for the latest order :grin:

[2022-06-11 13:48] #1304 closed

[2022-06-11 13:50] amcewen commented on #1707
I've ordered 36 from https://subliblanks.com/collections/sublimation-mugs/products/dino-coated-sublimation-10oz-mugs (also got a spray bottle to see if we can fit one of the pump dispensers from the handwash to it, and if so we can make some nice handwash dispensers for the toilets :grin:)

[2022-06-11 14:59] JackiePease commented on #1705
Another issue is that the pattern is only working on every alternate row (Caroline is taking advantage of this feature at the moment).

[2022-06-13 12:09] hicarty commented on #1477
Hey Matt How are you?

On Tue, 7 Jun 2022 at 16:45, MatthewCroughan ***@***.***>
wrote:

--

*Haven Carty*

*Product Developer*

Design & Engineering of Internet Connected Devices

mobile: +44 754 1260415

office:   +44 116 218 2808
school:   +44 116 2078977

*The information in this e-mail and any attachments are confidential and
may be legally privileged. It is intended solely for the addressees

[2022-06-13 14:06] amcewen commented on #1642
The drag chain has arrived.  I've left it in Gerald.

[2022-06-16 11:44] amcewen commented on #1662
http://crystalcnc.com/images/DUET.pdf is a brochure for the Duet, which has details of the bed travel, etc.

[2022-06-16 20:30] amcewen commented on #1529
We've tested most of the things on @MatthewCroughan's desk, apart from the UPS.  It's not 100% clear how we need to test the UPS.  Is it a class I device? a 5-way extension?  All of the above...?  Any thoughts @paulgeering, @RussCoty, @pkharvey?

Also tested all of Nalini's stuff.

[2022-06-21 11:01] JackiePease commented on #1707
These were delivered

[2022-06-21 11:01] #1707 closed, assigned to nobody

[2022-06-21 11:33] JackiePease opened #1708 "Apply waterproof varnish to the bookcase and tables from Urban Workbench"
These are unfinished and will absorb water and buckle.
Somebody should apply a layer of waterproof varnish e.g polyurethane, preferably with an unobtrusive matte finish

[2022-06-21 17:28] zarino commented on #1329
There is now [a 2022 mug design in Somewhere Safe](https://github.com/DoESLiverpool/somewhere-safe/blob/master/designs/mugs/2022%20mug%20220x90mm.pdf), featuring the tagline @amcewen proposed:

![2022 mug 220x90mm copy](https://user-images.githubusercontent.com/739624/174861187-5d240bfd-4bc8-4668-8e69-344db00a9acf.png)

[2022-06-21 17:30] zarino commented on #1329
I’m closing this issue in favour of https://github.com/DoESLiverpool/somebody-should/issues/976 which covers actually _producing_ this new round of mugs.

[2022-06-21 17:30] #1329 closed

[2022-06-21 17:32] zarino commented on #976
As mentioned in https://github.com/DoESLiverpool/somebody-should/issues/1329, there is now an [updated PDF in Somewhere Safe](https://github.com/DoESLiverpool/somewhere-safe/blob/master/designs/mugs/2022%20mug%20220x90mm.pdf) for the mug design, featuring extra info about what we do and how to contact us:

![2022 mug 220x90mm copy](https://user-images.githubusercontent.com/739624/174861187-5d240bf

[2022-06-21 17:33] zarino commented on #643
Closing in favour of https://github.com/DoESLiverpool/somebody-should/issues/976

[2022-06-21 18:14] amcewen commented on #1329
Excellent, thanks!  I got as far as wondering exactly where to stick the extra text and realising that I didn't have InDesign(?) to modify the original design files, after I'd ordered more mugs.

Looks good.

[2022-06-23 18:26] itsinthedetails opened #1709 "Tony is not cutting"
I tried to cut acrylic on Tony today. It cut in some places but not others. I tried on different settings. Someone tried to clean the mirrors. However it was still not cutting trough (it wasn’t even close).

I’m booked in again on Monday would really appreciate if someone could let me know if the problem has been fixed.

[2022-06-23 20:01] JackiePease opened #1710 "Ask Emerge to collect their secure shredding console"
We have a secure shredding console that belongs to Emerge. We should ask them to collect it as it is presumably worth something to them.

[2022-06-24 14:29] johnmckerrell commented on #1709
@DoESLiverpool/laser-maintenance did anyone find anything at last night's Maker Night?

[2022-06-24 15:12] JackiePease commented on #1709
I did see @Sean-anotherone working on Tony - not sure what was done. Sasha says he's cutting well today.

[2022-06-24 15:52] itsinthedetails commented on #1709
Thank you for getting back to me. I will come on Monday.

Sent from my iPhone

[2022-06-26 15:52] goatchurchprime commented on #1676
I'll bring my TunnelVR.  (I've got 2 Quest headsets).  It would be great if we got another one with us, because I can network them.  We could also make a pointcloud scan of one of the rooms of the library with an iPhone Pro

[2022-06-26 19:24] JackiePease opened #1711 "Sheila not cutting"
The laser head is moving around the bed as normal, but the laser isn't firing. It looks as though it's an issue with the lid switch, but I can't see how to fix it.

[2022-06-27 20:00] JackiePease commented on #1711
Klara was using the laser cutter this morning and noticed that someone had switched off the cooler unit. She added a label to try to stop people doing this in future.
However, Sheila continued to cut out intermittently. Klara and a couple of other people have noticed that the cooler seems to be  running at 29C which is much higher than they're expecting.
I used the laser cutter this evening. It's

[2022-06-28 09:29] amcewen commented on #1711
How warm was it in the laser room?  Sheila and Sophia's chillers can only cool to room temperature, so if it's too hot in the laser room then they won't get any cooler.

[2022-06-28 13:11] bolsoncerrado commented on #1011
I'm curious as well to learn where the 4 digit code is stored or how can I activate the 3d sense scanner without the website which no longer exists...

[2022-06-29 09:54] Robotorium opened #1712 "Tony drifting off course, error "alarm lock""
Tony was engraving a sizeable piece of acrylic (about A2), and fairly early on drifted off course quite dramatically and threw up the following errors:

![image](https://user-images.githubusercontent.com/30328798/176406555-41353e4b-f5f8-40d5-8522-477ef5cbbf2e.png)
![image](https://user-images.githubusercontent.com/30328798/176406597-8af744c4-0f63-4146-b07d-6c50019e12d1.png)

Here is how the engrav

[2022-06-29 10:07] amcewen commented on #1712
Tagging @DoESLiverpool/laser-maintenance

[2022-06-29 10:07] Robotorium commented on #1712
I had to replace the third image on account of not paying attention whether i was copying all visible or just the top layer from gimp - sorry. fixed now.

[2022-06-29 16:44] helicalbytes commented on #1706
I have ordered the TA-SD4-0.8. Will close this issue once it arrives.

[2022-06-30 12:41] JackiePease commented on #1712
I tried engraving (with 90 degree set) today. The engraving was very skewed.
There was someone in cutting this morning, with no engraving, and they didn't seem to have any issues.

[2022-06-30 12:46] JackiePease commented on #1711
@johnmckerrell has lent us a thermometer to measure the room temperature. It currently says 23.34C. The chiller says 24C. The laser cutter works some of the time after being power cycled.

[2022-06-30 12:46] JackiePease commented on #1711
Tagging https://github.com/orgs/DoESLiverpool/teams/laser-maintenance

[2022-06-30 14:22] FatihDeveci commented on #1712
Right now I'm just cutting simple things, no engraving and there's a lot of jumping/skipping in the y-axis.  I can't get over the jumping issues even though I cut it into very small pieces.

[2022-06-30 15:54] JackiePease commented on #1711
I think this is the lid switch. It wasn't working and I leant on the lid - it started engraving (half way through the engrave obvs)

[2022-07-01 08:39] amcewen opened #1713 "Create a page on the wiki for Sheila"
Just went to check the size of Sheila's bed by looking it up on the wiki, and found that there isn't a page there for her!

![image](https://user-images.githubusercontent.com/108468/176858267-2fed71bc-4bf3-44a7-8921-1bd3b0b2509d.png)

We should have a page like the others, giving details of the bed size, software, etc.

[2022-07-01 17:03] helicalbytes commented on #1706
Slot drill has arrived now. Is stored with the engraver.

[2022-07-01 17:03] #1706 closed, assigned to nobody

[2022-07-03 11:01] cheapjack opened #1714 "Organise a date for a Futuregazing session so we can work out where we might be going and what we want to do"
Wondered if it would be good after another successful MakeFest that we get together and have a group chat about where we think DoES is going in the future or just reflect on things together. Have a look at the notes from our last session which I thought went really well and ended up with the [values document](https://docs.google.com/document/d/1ZO7byuEVA5RDQuoMtwomU2iu4wLDpV1-Oj06eAyrEMA/edit) tha

[2022-07-04 21:30] Sean-anotherone commented on #1712
Hi all,  spent a bit of time on Tony last Thursday and managed (I think) to get the servo lock significantly improved on x, but at the price of it becoming completely scrunched on y.

If it was a stepper-based system this would be simple to set up, but Tony uses stepper-to-servo hybrid motor controllers and they are proving very problematic to "tune".

There is a "sweet spot" to be found between l

[2022-07-06 15:33] JackiePease commented on #1708
Nalini has identified the following items:

Here's the link for the varnish:
https://www.screwfix.com/p/ronseal-interior-varnish-satin-clear-750ml/551ht

https://www.screwfix.com/p/no-nonsense-quick-dry-varnish-satin-clear-750ml/30824

https://www.screwfix.com/p/ronseal-interior-varnish-matt-clear-750ml/859ht

Here's the link for the foam roller sleeves that we need that don't leave brush marks an

[2022-07-09 10:37] JackiePease opened #1715 "Sheila making strange noise and not cutting properly"
![IMG_20220709_112937](https://user-images.githubusercontent.com/12802256/178102138-dbcce705-f2bc-4f4e-8d25-30942f16a42d.jpg)
Sheila engraving ok, but makes strange noise when cutting as if catching on something.

[2022-07-09 10:37] JackiePease commented on #1715
@DoESLiverpool/laser-maintenance

[2022-07-11 08:17] zarino commented on #1567
Adding another datapoint to this – When I arrived at the Kempston Street entrance this morning:

- the shutter was up
- the inner rfid reader wouldn’t respond to my fob
- the _outer_ rfid reader _did_ respond to my fob

@JackiePease said she’d heard/read that you should try "reseating" the board… or the connectors… but neither of us were sure what that really meant.

- I popped the front off the b

[2022-07-11 12:15] JackiePease commented on #1708
@magman2112 is going to bring in dust sheet on Wednesday and investigate varnish we have used previously (Johnson's) - varnish needs to be matt or satin, and clear.

[2022-07-11 16:23] magman2112 commented on #1708
The varnish we have used before is Osmo Polyx Satin:-

https://www.duluxdecoratorcentre.co.uk/woodcare/osmo-polyx-hard-wax-oil-satin-clear?returnurl=%2fsearch%3fq%3dosmo%26count%3d18

This is obviously more expensive than the Screwfix alternative, (was this Screwfix varnish what we used for the floors in DoES though?), but you can go and look at the desks downstairs if you ask Paul nicely, these d

[2022-07-11 17:09] JackiePease commented on #1715
I spoke to Klara who has been using this today.

She says this issue has been occurring intermittently for a while and can be temporarily fixed by power cycling.

This is still an issue, but I'll take the broken panel off.

The lid switch error has reoccurred. @huffeec has fixed temporarily by straightening the hinge?

[2022-07-11 18:41] Sean-anotherone commented on #1712
We're going to focus efforts on getting Gerald back online then retrofit stepper motors on Tony, arguably a downgrade from the existing servo drives, but they "just work", and as long as they have enough current to overcome momentum they don't lose registration (steps).

[2022-07-14 14:44] magman2112 commented on #1708
Sorry for the delays in bringing in the dust sheet, but car problems and now what appears to be a dose of flu (thankfully not COVID, I just tested myself), have got in the way.

I’m going to get on the lemsip’s and see if I can break the back of this flu dose. If I can, I plan to visit my brother tomorrow in the Royal hospital, so can hopefully drop things off then, otherwise it will be for the Re

[2022-07-14 17:53] amcewen commented on #327
Reopening this mostly triggered by the 5L handwash getting low, but I think I've updated the checkboxes usefully...

[2022-07-14 19:35] amcewen opened #1716 "Sonoff 4-way failed its PAT test"
The sonoff 4-way that was measuring the fridge and bin power supplies in the kitchen has failed its PAT test on a visual inspection.

It needs the wiring into the sonoff fixed so that the outer insulation is crimped by the strain relief, and then it can be re-tested.

[2022-07-17 12:39] magman2112 commented on #1676
Closing this issue now, as MakeFest has passed.

[2022-07-17 13:32] FatihDeveci commented on #1715
Lid switch error still persists.

The issue "Making strange noise when cutting as if catching on something" also still persists. It is very similar to the Gerald issues in late 2020 (see #1503 ). Laser head jumps/skips after the noise and whole drawing shifts.

To get rid of this issue, after long attempts, I sometimes combined small lines to make a polyline (path), and sometimes split polylines i

[2022-07-23 07:17] JackiePease commented on #1708
@magman2112 has brought in the dust sheet and trestles, which are by the bookcase.
I asked Urban Workbench what finish they recommended. They suggested Holzöl Worktop oil, applied with rags, lightly sanding the surface first and between layers (they provided sandpaper).
I ordered the oil and it is with the sandpaper, on the bookcase.
Nalini and Nikki are going to apply the oil in the next couple o

[2022-07-23 07:18] JackiePease commented on #1700
There haven't been any further issues, so closing.

[2022-07-23 07:18] #1700 closed, assigned to nobody

[2022-07-23 07:21] JackiePease commented on #1681
@DoESsean - did these arrive?

[2022-07-23 10:48] amcewen commented on #1681
They did.  I threw away the old tips, and the new ones are in use.

[2022-07-23 10:48] #1681 closed, assigned to nobody

[2022-07-24 15:24] Robotorium opened #1717 "Hinges on more accessible toilet door pulling away from door."
The door to the more accessible toilet is falling off the top hinge and can't be closed effectively (it can from outside but not from inside, or not from inside by me specifically). Jackie tried to tighten the screws again, but it didn't work and the screws pulled out again immediately.

[2022-07-24 15:50] JackiePease commented on #1717
@arthurrowland and I rehung the door with added rawlplugs

[2022-07-24 15:50] #1717 closed, assigned to nobody

[2022-07-25 08:15] JackiePease commented on #1717
This might not be a long term solution as the plugs compress the timber.
This Reddit post suggests dowels and filler:
https://www.reddit.com/r/HomeImprovement/comments/3jz1xp/door_hinges_and_wall_plugs/

[2022-07-25 12:40] cheapjack commented on #1714
Wednesday 10th August at 6pm suggested on the [google group thread](https://groups.google.com/g/does-liverpool/c/h0c-e2W6RHs) which would work for me and some of us I think?

[2022-07-25 12:45] huffeec commented on #1614
The Ultimakers could both use new nozzles. Does anyone know where I can find these ones?

[2022-07-27 18:19] JackiePease commented on #1614
@AndyH0 did you replace the nozzles?

[2022-07-27 19:53] johnmckerrell opened #1718 "Buy a wheelchair"
It has been suggested that we should buy a wheelchair as having one in the space will mean that people who do have some limited mobility won't have to bring one with them. @Robotorium has offered to do this and we will reimburse her.

[2022-07-27 19:56] Robotorium commented on #1718
I'm waiting for the workshop which maintains and repairs my chairs every
time I smash them. We're next on the list for a manual wheelchair. I am
also looking into getting a new one myself though, and if I do that then my
old one can become the DoES one. See what happens first?

Op wo 27 jul. 2022 20:53 schreef John McKerrell ***@***.***>:

[2022-07-27 19:57] johnmckerrell commented on #1718
That's fine, just wanted to make sure we had an issue to track it on.

[2022-07-28 10:29] AndyH0 commented on #1614
No I haven't replaced the nozzles. See Issue #1649. I had a lot of problems which seemed like nozzle blockage (poor or no flow) but in the end I concluded the nozzle was fine and that the problem is that the filament can melt behind the nozzle and because of the curve in the filament slip to one side. My advice is that if no flow from nozzle, remove filament and reload straight away. Don't try to

[2022-07-28 20:54] JackiePease commented on #1614
Thanks @AndyH0 - some good ideas there.
I've ordered 2 new nozzles from 3DJake anyway, as we can't find the others at the moment.

[2022-08-02 10:49] DoESsean commented on #1714
Wednesday 10/8 has been nailed down, 6:30-8:30. There are posters and everything.

[2022-08-03 09:52] amcewen commented on #1714
Are posters still posters if they're hidden under some stuff on your desk @DoESsean?

[2022-08-03 09:55] amcewen commented on #1714
@JackiePease and I have put the posters up now.

[2022-08-03 09:55] #1714 closed, assigned to cheapjack

[2022-08-04 19:20] Knottyashcreative commented on #1702
Installed latest firmware and no improvements detected i.e. still not cutting the thread.  More investigations are to follow.

[2022-08-06 10:02] Knottyashcreative opened #1719 "Microwave fault"
The microwave was operating well and then suddenly made a crackling sound.  The microwave's electrics turned off for a few seconds and then back on.

[2022-08-06 10:03] Knottyashcreative commented on #1719
I have not been able to replicate the issue since and so will close the issue.

[2022-08-06 10:06] #1719 closed, assigned to nobody

[2022-08-06 12:47] JackiePease commented on #1699
The instructions for doing this are here: https://support.ultimaker.com/hc/en-us/articles/4896458140956-Update-the-Ultimaker-2-firmware

I think this would be worth doing, as updated firmware is likely to work better with more recent versions of Cura. Please comment with any objections though e.g. you need to use an old version of Cura for some reason.

[2022-08-09 10:10] Knottyashcreative commented on #1702
I have read the manual and it states that the NV800E will only trim at the end of a run and stop.  This machine appears not to support multiple trimming as we had hoped.

![automatic cutting](https://user-images.githubusercontent.com/58068720/183623294-22a15ae1-7c71-4cbe-91c2-1bdf2960d475.png)

I have researched and experimented with Hatch, Inkstitch, Embrid, and Embroidery reader to add trim comm

[2022-08-09 10:10] #1702 closed, assigned to JackiePease, Robotorium

[2022-08-10 10:33] johnmckerrell commented on #1251
So the result of the visit was that they maintained their opinion. I contested this by email but they've come back with final conclusions that they are not going to make a change. At this point I don't think there's much we can do. To be fair even with arguments around size and use of the building they tend to use the rent as a big factor and our rent is close to our rateable value if I recall cor

[2022-08-10 12:52] JackiePease commented on #1614
Replacement nozzles have arrived. I've temporarily taped then to the inside of the 3d printer cupboard.

[2022-08-10 17:31] magman2112 commented on #1715
I did find that one of the drive belts (y-axis, or side to side) had a low tension, which could cause it to jump on the drive wheel on fast movements. I have now re-tensioned this belt. This should hopefully fix the skipping issue.

@Sean-anotherone also adjusted the magnet on the lid, there still appears to be an issue with the lid though, so we are looking to replace the switch, once we have sou

[2022-08-10 22:32] johnmckerrell commented on #919
I knew there was an issue for it!

[2022-08-10 22:38] johnmckerrell commented on #821
Further comments for the record, there's a pair of buttons that look like a volume slider, to turn the ringer down just press the button on the left, to turn it back up press the button on the right.

<img width="773" alt="yealink-phone" src="https://user-images.githubusercontent.com/27243/184032465-d70de36f-303f-474d-858e-8863b904045b.png">

[2022-08-10 22:38] #821 closed

[2022-08-11 12:52] DoESsean opened #1720 "The fly situation is going crazy"
As @goatchurchprime is away, no one is disposing of the coffee grounds, meaning that the compost bin, meaning that it's become like a fly Woodstock in there.

Is anyone interested in taking it home for their lawns or whatever? Or should we just get it binned and start again?

[2022-08-11 13:10] DoESsean commented on #1720
It's been binned. Quickest opening to solving of an issue ever.

[2022-08-11 13:10] #1720 closed, assigned to nobody

[2022-08-15 17:30] JackiePease opened #1721 "Need an easier way to close the window in the laser room"
It's difficult for shorter people (me, Nalini, Julie) to close the window in the laser room (the current window pole slips if you try to hook the window handle or frame).
The drawers are in the way and aren't really that safe to stand on - one idea might be to move them somewhere else and replace with a narrow shelf for the nook, screen and keyboard.

[2022-08-18 18:54] amcewen opened #1722 "Vacuum former has failed its PAT test"
The insulation resistance test has failed.  It should be >20Mohms but is currently 0.33Mohms.

Maybe we just need to replace some of the wiring?

[2022-08-24 13:41] JackiePease commented on #1645
@magman2112 are you still intending to make these metal sign holders? If not, then pieces of wood with slots in might do the job nearly as well. I could try using the CNC router.

[2022-08-26 16:40] JackiePease commented on #1645
@magman2112 has ordered some stainless steel rods to make these. They should arrive late September.

[2022-08-27 14:07] JackiePease opened #1723 "Create black and white flyer to publicise latest Boost membership / general DoES Liverpool stuff"
We need an A5 flyer to print and hand out at Granby St Market on 3rd September, and to have a few copies at Melodic Distraction etc., with an introduction to DoES Liverpool in general, details of weekly Maker Nights and Monthly Maker Day and our [Boost membership scheme](https://doesliverpool.com/co-working/launching-the-october-2022-boost-membership/).

Note: closing date for next Boost membershi

[2022-08-27 16:39] zarino commented on #1723
@JackiePease I won’t have time to do this.

[2022-08-27 21:11] JackiePease commented on #1723
Thanks for getting back to meOn 27 Aug 2022 17:39, Zarino Zappia ***@***.***> wrote:

@JackiePease I won’t have time to do this.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-09-01 12:56] NikkiHiggins opened #1724 "Queen Victoria cutting off prints"
Occasionally while trying to print things on Queen Victoria the print will stop printing and cut off part of the image.

This doesn't seem to be an issue with the program as it has happened across multiple programs. I don't know why it's happening as nothing appears to be wrong with either the printer or the image.
![20220901_135402](https://user-images.githubusercontent.com/103120996/187918959-e0

[2022-09-01 17:18] Robotorium commented on #1724
This also happened to me twice yesterday (or maybe a different day, my
grasp on time is a bit casual atm). From ubuntu, once from document viewer
and once from gimp.

Op do 1 sep. 2022 13:56 schreef Nikki Higgins ***@***.***>:

[2022-09-04 21:36] JackiePease commented on #1723
I created a simple flyer with some Boost membership details on one side and monthly events on the other. Copied to somewhere-safe/Promo/Flyers/Granby_St_Flyer.doc - may be adaptable for other events.

[2022-09-04 21:36] #1723 closed, assigned to nobody

[2022-09-06 16:12] JackiePease commented on #1676
@DoESsean has got the flyers. They're on the leaflets table if anyone wants to hand them out.

[2022-09-06 16:13] #1676 closed, assigned to JackiePease

[2022-09-07 18:53] helicalbytes opened #1725 "Create a shelf unit for test equipment on the worktop beside soldering bench"
The section of worktop to the left of the soldering bench is currently covered with oscilloscopes, power supplies and various other miscellaneous equipment. It is therefore unusable.

It is relatively deep -- about 90cm (3ft).

The proposal is to build a shelf unit on top of the worktop about 40cm deep to hold the test equipment. This would be for both storage **and use** of units like oscilloscop

[2022-09-07 22:21] amcewen commented on #1725
Sounds like a great idea.

[2022-09-08 20:46] amcewen commented on #1529
I've written up the (current) PAT testing process on the wiki - https://github.com/DoESLiverpool/somebody-should/wiki/PAT-Testing

[2022-09-11 14:13] ajmorri opened #1726 "Blue heat press (name pending)"
Hello!

Just raising as an issue that the blue heat press is not heating up when switched on. It would be appreciated if this could be looked at when possible.

Many thanks
Anne-Marie

[2022-09-12 20:40] JackiePease commented on #1645
@johnmckerrell made some signs and Nalini laminated them at last week's Hack the Space meeting.
The stainless steel rods have arrived - hopefully @magman2112 will bring in his metal bender the next time he's in.

[2022-09-12 20:41] JackiePease commented on #1708
Nalini and @NikkiHiggins have applied one layer of oil to the tables.

[2022-09-14 08:19] peqpez commented on #1011
Me too:

[2022-09-14 09:12] Robotorium commented on #1724
There was a theory that it might've been caused by some arsery around the black cartridge being empty, but this was not the case. I just tried again and it cut off even earlier than before (printed about 20cm of an A0 size print, then the print head wibbled a little bit on one side for about 10 minutes, then the printer proclaimed itself/the print to be "Ready"). No error messages, no indication o

[2022-09-14 09:19] Robotorium opened #1727 "Order more cartridges for Queen Victoria."
Nalini changed the black ink cartridge on Queen Victoria, and found there was only a half cartridge of black ink left (which is now in the printer).

I've had a nosey around and I found https://www.stinkyinkshop.co.uk/hp/ink-cartridges/hp-designjet-510 referenced by Arthur somewhere in a thread about the pricing. Can we please order more of the black ones? We have one each of the cyan, magenta and

[2022-09-15 08:49] DoESsean commented on #1727
Ordered that now.

On Wed, 14 Sept 2022 at 10:19, Snoof ***@***.***> wrote:

[2022-09-15 09:24] amcewen opened #1728 "Set up the new large-format printer"
[Gina Czarnecki](https://www.ginaczarnecki.com/) generously donated a new large-format printer.  It can print onto media other than paper—such as canvas for banners—as well as paper, so should be an upgrade from Queen Victoria.

We need to...
* [ ] work out how to use it
* [ ] find out the price for inks, etc. and set the pricing (using the setup for Queen Victoria as a guide)
* [ ] create a wiki

[2022-09-15 09:26] amcewen commented on #1724
This isn't a suggestion to directly fix the issue, but an alternative approach could be to work out how to use the new large-format printer (see #1728) in case that doesn't have the same problem...

[2022-09-15 21:15] Robotorium opened #1729 "Fred in need(le)"
Please can we buy some needles for Fred? The last one has just been installed (I think he only came with a couple of spares).

https://www.tysew.co.uk/parts-accessories/needles/schmetz-embroidery-needles-assorted-sizes-75-90?search=Embroidery%20needles has a pack with the two most common types, if we could get that it would probably see us through a nice long while.

[2022-09-17 09:08] JackiePease opened #1730 "McGraw seems to be sticking (esp. on the long axis) and making loud vibrating noises"
After drawing a few lines, McGraw seems to stick on the long axis, only moving a short distance backwards and forwards. @Sean-anotherone and I have tightened the belts and frame and altered settings, but this hasn't made a noticeable difference.

It would be good to fix this as there are a couple of people who'd like to learn how to use it.

[2022-09-17 10:21] Robotorium commented on #1724
That's a great idea, thanks Adrian!

I did also download the manual for Queen Vic, or the printer I got drivers for which I think is very slightly different. I found this:

_Output contains only a partial print
• Did you press Cancel or Form Feed and Cut before all the data was received by the printer?
If so, you have ended the data transmission and will have to print the page again (you normally

[2022-09-17 14:02] JackiePease commented on #1727
This has arrived. I've put it by the printer, with the other cartridges

[2022-09-17 14:26] #1727 closed, assigned to nobody

[2022-09-17 14:27] magman2112 commented on #1724
Just in case it is a memory issue, I did some quick checks. The standard memory is 160Mb, which is what is currently installed in the printer.

An upgrade of 256Mb is possible (up to a total 416Mb). This is in the form of an SODIMM memory module which is a 200 pin module with a specification of PC2700 DDR333. I found some secondhand modules on eBay, as follows

https://www.ebay.co.uk/itm/123417058

[2022-09-17 14:48] JackiePease opened #1731 "Finish building the power supply for the Fernanda Wings"
A while ago, @magman2112 started work on a new power supply for the wings. It would be good to complete this, as the current USB mains power supply overheats if used for too long.

I've put the power supply by the wings, so it can be worked on further.

[2022-09-17 15:57] JackiePease commented on #1728
Replaced the Light Light Black and Magenta cartridges

[2022-09-17 16:44] amcewen commented on #1529
At today's hack-the-space I tested the new large-format printer and all the extension cables under the West bank of desks in the main room, and John's desk.

I've also tidied up the list of things-still to do and collected it all into the main issue text at the top.

Annoyingly, it seems that one of the pens I've been using to write the PAT test labels fades after 5 or  6 months, so some of the la

[2022-09-17 16:46] JackiePease commented on #1728
The new Magenta cartridge is not being accepted by the printer. Aiming to syringe the ink into the old cartridge tomorrow

[2022-09-17 18:39] magman2112 commented on #1726
I checked the unit out and found a broken connection to the heat plate at the heat plate end. The broken connector was replaced and the unit reassembled and tested.

All working OK now.

[2022-09-17 18:39] #1726 closed, assigned to nobody

[2022-09-20 08:49] DoESsean commented on #1729
I'll have a look in Abakhan today - paying postage for needles given where we are seems a bit daft!

[2022-09-20 08:50] Robotorium commented on #1729
Just make sure they're machine embroidery needles please!

Op di 20 sep. 2022 09:49 schreef Seán Gleeson ***@***.***>:

[2022-09-20 11:16] DoESsean commented on #1729
None in Abakhan, so I've ordered those.

[2022-09-20 12:02] Robotorium commented on #1729
Cheers Seán!

Op di 20 sep. 2022 12:16 schreef Seán Gleeson ***@***.***>:

[2022-09-26 11:14] Robotorium commented on #1724
I increased i/o time to 20 minutes from 10, didn't make any difference.
The file size doesn't appear to make a difference either; she's done this on files that were very simple lines and on reasonably high-res photographs.
I'm going to try and find my cable that matches hers and see if that does the trick/the cable is faulty.

[2022-09-26 12:00] Robotorium commented on #1724
Jackie brought me an alternative cable, but no luck. I think our best bet is to have a look at the RAM next, but not sure where to start without risking a Snoofastrophe.

[2022-09-26 12:07] amcewen commented on #1724
I've ordered the memory module that @magman2112 mentioned above.  Should be with us by Wednesday.

[2022-09-27 10:17] Robotorium commented on #1724
@amcewen brought me the memory module, it's on my desk in the drawer marked "nonsense." @magman2112 would you have time to work on this on Thursday night? I'd love to tag along and maybe learn something useful if possible.

[2022-09-27 10:18] Robotorium commented on #1724
Sorry, drawer marked *rubbish*

[2022-09-28 09:44] Robotorium commented on #1724
@huffeec put the new RAM in, I verified it had installed properly, but unfortunately the same problem persists.

[2022-09-30 14:21] johnmckerrell commented on #946
Wondering if this is fixed now, I think we re-plumbed stuff since the last comment.

[2022-09-30 14:24] johnmckerrell commented on #1160
Re-opening this as the tap on the left is leaking again. TBH I thought it had been leaking all along so glad to hear this was fixed for a while! Hopefully we still have the spare tap insert mentioned in the previous comment and can fit it to fix the problem.

[2022-10-07 10:44] amcewen commented on #1529
Got all of Ronan's servers, etc. tested this morning so Dinky is all done now :tada:

[2022-10-11 06:58] Robotorium commented on #327
Drinks, crisps? Is it worth getting bogroll?

Op do 14 jul. 2022 18:53 schreef Adrian McEwen ***@***.***>:

[2022-10-11 07:52] johnmckerrell commented on #1184
I think we probably should but we’ve not had much good weather recently to confirm if it’s a problem, idea was that the early sun in the morning was warming the room up too much early in the day.

[2022-10-11 10:26] JackiePease commented on #327
More bin bags would be good, if they have the right type

[2022-10-14 21:58] Sean-anotherone commented on #1722
Heater wiring done already (mostly) so this might be fan wiring, or panel switches.

[2022-10-18 20:05] helicalbytes commented on #1665
Am going to close this.

It is still a WIP, but there is now a repo for code to interface from a Python web app (running locally) and the EGX-300.
https://github.com/DoESLiverpool/roland-egx300

The engraver itself seems to be in full working order.

[2022-10-18 20:05] #1665 closed, assigned to nobody

[2022-10-19 12:12] ajlennon opened #1732 "Buy a 4x6in label printer for Royal Mail/Hermes/etc delivery pickups"
I'm finding that I am ordering Royal Mail parcel shipping pickups on and off.

You can get label printers that print 4x6in sticky labels that go on your package, ready for pickup.

I was thinking of getting myself a label printer for this.

I was chatting to @goatchurchprime and he thinks it would be good to have one at DoES?

If so we were thinking of chipping in for one. There seem to be a big r

[2022-10-19 16:07] Jcleary02 commented on #1662
Im interested in helping out! If Sean can document what he has discovered so far i am more than happy to help where i can :)
Also the stop button almost certainly needs replacing

[2022-10-24 12:55] JackiePease commented on #1730
@helicalbytes and I have replaced the stepper on the long axis and this seems to be working now. Will leave this open until I've done a couple more test plots

[2022-10-25 10:41] magman2112 commented on #1160
I dug out the spare cartridge from the Nuts & Bolts draw. I will try and fit it later when DoES is a little less busy.

For the record, the insert is "Quarter Turn 1/2" tap gland, 8mm spline, 20 teeth".

Mike Rush tried to replace the insert with one he brought with him at the last Repair Cafe, but his had the wrong spline type for taps. He did identify though that it was the hot tap which was lea

[2022-10-31 10:08] ajlennon commented on #1732
Hi all, after some investigation I've bought this label printer, a Jadens JD168BT for £120 from Amazon

https://jadens.com/pages/jd168-download-and-video

![image](https://user-images.githubusercontent.com/1537834/198983432-fa9ff52c-d297-4a2b-b66d-7e343834471e.png)

This is a USB and Bluetooth printer with Windows drivers and a SmartPhone application for printing.

It says it supports Linux but I

[2022-10-31 10:08] #1732 closed, assigned to goatchurchprime, ajlennon

[2022-10-31 10:19] huffeec opened #1733 "Replace firmware on the reflow oven"
Flashing the alternative firmware [https://github.com/UnifiedEngineering/T-962-improvements/wiki/Flashing-the-LPC21xx-controller](https://github.com/UnifiedEngineering/T-962-improvements/wiki/Flashing-the-LPC21xx-controller) would allow us to [set up new temperature profiles](https://github.com/UnifiedEngineering/T-962-improvements/wiki/Configuring-a-temperature-profile-for--reflow).

This would b

[2022-11-03 18:40] JackiePease opened #1734 "The laser cut knob on Sheila's vertical adjustment mechanism is broken"
This was made out of layers of glued together ply. The top few layers are missing. @magman2112 suggests that @huffeec might have cutting files?

[2022-11-03 18:43] JackiePease opened #1735 "Fatih reports that line engraving on Tony is inconsistent"
Line engraving at 15% and getting different depths.

[2022-11-03 18:47] JackiePease commented on #1735
![IMG_20221103_184318](https://user-images.githubusercontent.com/12802256/199808424-0ba50eb6-f8f5-4e19-ad22-d9d9f8cf4e1f.jpg)

[2022-11-03 19:22] huffeec commented on #1734
The tool came with the machine from Just Add Sharks. There is nothing on their [forums](https://community.andmirrors.co.uk/)  but Dominic might still have the file.

From memory it's just an inkscape rounded cornered star shape, might be quicker just to replicate it?

[2022-11-04 11:57] huffeec commented on #1734
A 1/4in 12 point socket fits, I've left one in the machine for bed adjustment for now.

[2022-11-07 13:10] goatchurchprime commented on #1160
This was driving me nuts for two weeks.

I found the cold water isolation valve behind the fridge, which is very difficult as the slot head is very worn out.  The hot water isolation is easier just on the tank.

First I capped off the two incoming water plastic pipes with blanking plugs, so things couldn't be any worse.

Then I discovered I had a spare hot water tap at home whose mechanism matched

[2022-11-09 15:31] Dinny1878 opened #1736 "Tony stopping part way through jobs when cutting."
Made some small job cuts using Tony but when attempted a slightly larger piece, Tony stopped 10% through job.

[2022-11-10 21:35] #1733 closed, assigned to nobody

[2022-11-14 13:07] magman2112 commented on #1642
It has been a while since we updated this issue and there is a lot of progress to report.

@Sean-anotherone has completed all of the wiring for the new controller. This included the following.
- install a new relay to control the air assist.
- Install new Emergency Stop and Mains Power switches, along with an enclosure to isolate access to the rear of the switches (which were accessible inside the

[2022-11-14 13:49] MatthewCroughan commented on #1642
The resolution of the spare purple laptop we were thinking of using to control Gerald is 1366x768, which is too small for the QT5 Based GUI of Lightburn to utilize, the official developers of Lightburn recognise this too https://forum.lightburnsoftware.com/t/workable-screen-resolution-for-lb/14495/2

[2022-11-14 14:33] KarlDunkerley commented on #1642
Mike, I should have a small Acer PC that can control LIghtburn. It's the one I used when you helped me set up in the garage. Currently in Iceland but back next week if you are interested. Let me know.
Cheers.
    On Monday, 14 November 2022 at 13:08:00 GMT, Mike Gorman ***@***.***> wrote:

It has been a while since we updated this issue and there is a lot of progress to report.

@Sean-anotherone h

[2022-11-14 16:37] amcewen commented on #1642
Thanks for the  update @magman2112 (though I think it was @MatthewCroughan that you wanted to tag in :-)

The original PC might not have been a 32-bit machine, although the *version of Windows* on it will have been.  That's because LaserCut only worked on 32-bit Windows (which took @ajlennon a lot of grief to track down, IIRC).  So it might still be an option for use if the screen size is better f

[2022-11-14 16:50] KarlDunkerley commented on #1642
Mike, Adrian, I should have a small Acer PC that can control LIghtburn. It's the one I used when MikeG helped me set up in the garage. Currently in Iceland but back next week if you are interested. Let me know.
Cheers.

    On Monday, 14 November 2022 at 16:37:30 GMT, Adrian McEwen ***@***.***> wrote:

Thanks for the update @magman2112 (though I think it was @MatthewCroughan that you wanted to tag

[2022-11-17 23:19] huffeec commented on #1724
The belt is very frayed and shedding fibres into the machine. This seems to be the cause of paper jams and might in part explain inconsistent printing.
![20221117_212521](https://user-images.githubusercontent.com/4748179/202580529-7f487b23-da9c-44dc-bb32-6c830e7efb1d.jpg)

[2022-11-19 13:39] magman2112 commented on #1642
We made some significant progress on Gerald on the last Maker Night.

@Sean-anotherone brought in an install memory stick for Windows 10, with which he installed Windows 10 on one of the DoES Laptops. This was to eliminate some issues we have had in trying to get Lightburn to work under Linux. This PC now works well as the controller for Gerald, though we still need to install the License Key to f

[2022-11-20 20:44] magman2112 commented on #1503
Closing this issue as the controller has been replaced in Gerald in #1642, which has completely changed how Gerald works.

[2022-11-20 20:44] #1503 closed, assigned to nobody

[2022-11-20 20:50] magman2112 commented on #889
Closing this issue as Gerald has a new controller, as in #1642, which no longer has a Datum control. There is a homing command with the new software which does the same thing as a Datum, which is now working with the new controller.

[2022-11-20 20:50] #889 closed

[2022-11-20 20:53] magman2112 commented on #518
Closing this issue as a major service on Gerald has been completed in #1642. Any additional problems will be addressed in the new issue.

[2022-11-20 20:53] #518 closed

[2022-11-20 20:57] magman2112 commented on #1039
Closing this issue as Gerald now has new software as in #1642, which should eliminate the import issues which were inherent in the old software.

[2022-11-20 20:57] #1039 closed

[2022-11-21 09:25] ajlennon commented on #1642
Brilliant stuff! Just back in the country now and playing catchup. Out of interest whatis the problem with Lightburn on Linux? Ta!

[2022-11-21 15:40] huffeec opened #1737 "Tony not cutting through 3mm ply"
Report from the workshop booking this afternoon that Tony wasn't able to cut through 3mm ply using 15/80
The lines seem fairly sharp so don't think it's an alignment issue, possibly the optics needs cleaning?

[2022-11-21 20:22] johnmckerrell commented on #1160
Alas the tap on the right is now dripping! Sounds like the spare that @magman2112 was aware of is still around?

[2022-11-21 21:10] magman2112 commented on #1160
It appears we need to pay more attention to the title perhaps, as the sink @goatchurchprime and I have been working on is the left hand one.

The spare insert we had (it was in the screws and nuts draw) has already been fitted to the left hand sink and Julian has fitted a hot insert in the cold side of the left hand sink.

So it comes back to buying some new inserts again, which I got from B&Q las

[2022-11-22 07:50] johnmckerrell commented on #1160
Oh you definitely fixed the correct tap last time (or somebody did), just that the right one has started dripping again now!--Sent from my mobile phone hence brevity and errorsOn 21 Nov 2022, at 21:10, Mike Gorman ***@***.***> wrote:﻿
It appears we need to pay more attention to the title perhaps, as the sink @goatchurchprime and I have been working on is the left hand one.
The spare insert we had

[2022-11-23 14:17] johnmckerrell commented on #1352
I was tempted to close this ticket but I've had decent results with PAYG SIMs from Giffgaff so I've ordered one (addressed to Seán) and we can set that up, I /think/ we'll be able to keep it live without paying repeatedly.

[2022-11-23 14:19] johnmckerrell commented on #1080
These have been recycled now.

[2022-11-23 14:19] #1080 closed

[2022-11-23 14:24] johnmckerrell opened #1738 "Cordless phone is showing a battery warning"
I was trying to get the cordless phone working again but it's giving a battery warning. It takes rechargeable NiMH AAA batteries, current ones appear to be 700mAh. I may have some at home so I'll bring them in on Friday, it may be that they just need to charge for a few days but I suspect new batteries would be best.

[2022-11-23 14:47] amcewen opened #1739 "One of the sockets in the kitchen isn't working"
The socket that the kettle used to be plugged into is not providing any power.  The on/off switch also seems stuck in the on position for it.

We've moved the kettle to one of the nearby, still-working sockets and taped over the non-working one, but we should get the electrician to have a look at it sometime.

[2022-11-24 14:53] Rorydasilva opened #1740 "Lazer not firing on Tony"
Booked to use Tony this afternoon but not able to engrave anything. When setting up to cut, lightburn will run thr programme and the lazer arm moves but no lazer is fired.

All setting correct in lightburn so think there is an issue with Tony, maybe a fuse out or something?

[2022-11-24 22:08] amcewen commented on #1529
Did most of the rest of the CNC room this evening.  Still need to do the extension on top of the CNC router and the light for it, and any power tools in the cases under the router (and the cupboard?)

[2022-11-25 09:09] SulLa0 commented on #1011
пни меня если найдешь, та же фигня

[2022-11-25 12:01] johnmckerrell commented on #1738
I've put new batteries in this now and it seems to be working. The old batteries seemed to have some charge so I'm wondering if it's charging ok but I'm going to close this as I think it's most likely that the batteries aren't holding *enough* charge.

[2022-11-26 17:58] magman2112 commented on #1731
I’ve designed and laser cut a new box for the PC Power supply that is larger to accommodate the PSU cabling (with the old design, it was virtually impossible to wrap all of the PSU cabling into the box).

I need to glue up the box and assemble it next.

[2022-11-26 18:01] magman2112 commented on #1737
I investigated this on Maker Night and found that the lens was a little dirty, but not to the extent as was being indicated by the poor cutting. Further investigation found that the laser alignment was off with the final mirror and subsequently it was found that the main laser rail was out of alignment by approx 30mm front to back.

Once this was re-aligned, laser operation returned to normal.

We

[2022-11-26 18:01] #1737 closed, assigned to nobody

[2022-11-26 18:04] magman2112 commented on #1735
I found a significant mis-alignment of the laser mechanism. See issue #1737 for how this was resolved.

[2022-11-26 18:04] #1735 closed, assigned to nobody

[2022-11-26 18:05] magman2112 commented on #1740
I found a mis-alignment on the laser mechanism, see issue #1737 to see how this was resolved.

[2022-11-26 18:05] #1740 closed, assigned to nobody

[2022-11-26 18:15] magman2112 commented on #1701
This was repaired at a Repair Cafe session a few months ago. The heavy duty wire to the Heat plate had a broken connection, so this was repaired and the unit safely passed it’s PAT test and has been back in use for a number of months.

[2022-11-26 18:15] #1701 closed, assigned to nobody